n8n/autolab-unified-whatsapp-workflow.json
{
  "name": "AutoLab Customer Chatbot & Notifications (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autolab-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-chatbot",
      "name": "Chatbot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "webhookId": "autolab-chatbot"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok' }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract message from incoming webhook\n// Supports multiple payload formats\nconst input = $input.first().json;\nconst body = input.body || input;\n\nlet senderPhone = '';\nlet messageText = '';\nlet senderName = '';\n\n// Format 1: Platform/Avatar webhook { message, from_number, contact_name }\n// from_number may look like \"60165230268@s.whatsapp.net\"\nif (body.from_number && body.message) {\n  senderPhone = String(body.from_number);\n  messageText = String(body.message);\n  senderName = body.contact_name || 'Customer';\n}\n// Format 2: Simple webhook { phone, message, name? }\nelse if (body.phone && body.message) {\n  senderPhone = String(body.phone);\n  messageText = String(body.message);\n  senderName = body.name || body.contact_name || 'Customer';\n}\n// Format 3: WhatsApp Cloud API format\nelse if (body.entry) {\n  const entry = body.entry[0];\n  const changes = entry.changes[0];\n  const value = changes.value;\n  if (!value.messages || !value.messages[0]) return [];\n  const msg = value.messages[0];\n  senderPhone = msg.from;\n  messageText = msg.text?.body || msg.interactive?.button_reply?.title || '';\n  if (value.contacts && value.contacts[0]) {\n    senderName = value.contacts[0].profile?.name || '';\n  }\n}\n// Format 4: Fallback { from, text/body }\nelse if (body.from) {\n  senderPhone = body.from;\n  messageText = body.text?.body || body.body || body.message || '';\n  senderName = body.profile_name || body.contact_name || '';\n}\n\n// Normalize phone number\n// Remove WhatsApp suffix like @s.whatsapp.net or @c.us\nsenderPhone = senderPhone.replace(/@.*$/, '');\n// Remove + prefix\nsenderPhone = senderPhone.replace(/^\\+/, '');\n// Remove any non-digit characters\nsenderPhone = senderPhone.replace(/\\D/g, '');\n// Handle Malaysian phone formats\nif (senderPhone.startsWith('0')) {\n  senderPhone = '60' + senderPhone.substring(1);\n}\n\nif (!senderPhone || !messageText) {\n  // Return empty to stop execution silently\n  return [];\n}\n\nreturn {\n  json: {\n    senderPhone,\n    messageText: messageText.trim(),\n    senderName: senderName || 'Customer',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_lookup_customer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_phone: $('Extract Message').first().json.senderPhone }) }}",
        "options": {}
      },
      "id": "lookup-customer",
      "name": "Lookup Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "const lookupResult = $input.first().json;\nconst senderPhone = $('Extract Message').first().json.senderPhone;\nconst senderName = $('Extract Message').first().json.senderName;\nconst messageText = $('Extract Message').first().json.messageText;\nconst config = $('Config').first().json;\n\nlet customer = {};\nif (Array.isArray(lookupResult)) {\n  customer = lookupResult[0] || {};\n} else if (lookupResult.body && Array.isArray(lookupResult.body)) {\n  customer = lookupResult.body[0] || {};\n} else {\n  customer = lookupResult || {};\n}\n\nconst customerName = customer.customer_name || senderName || 'Customer';\nconst customerType = customer.customer_type || 'normal';\nconst pricingLabel = customer.pricing_label || 'Retail';\nconst isRegistered = customer.is_registered || false;\nconst priceField = customerType === 'merchant' ? 'merchant_price' : 'normal_price';\nconst WEBSITE_URL = config.WEBSITE_URL || 'https://demoautolab.vercel.app';\n\nconst systemMessage = `You are *AutoLab Assistant* — a smart, friendly WhatsApp shopping helper for Auto Lab Sdn Bhd, a B2B/B2C wholesale automotive Android head unit accessories company in Malaysia.\n\n==============================\n1. HOW THE BUSINESS WORKS\n==============================\n\nProducts & Components:\n- A *Product* is a kit/package for a specific car (e.g. \"Perodua Alza Casing 10in 2022-2026\")\n- Each product contains multiple *Components* — casing, socket, canbus, relay, etc.\n- Each component has its own SKU, price, and stock level\n- Customers BUY components, not products. There is no single \"product price\"\n- ALWAYS show component breakdown with individual prices\n\nWhat We Sell:\n- Android head unit casings (frames/panels for different car models)\n- Wiring sockets and harnesses\n- Canbus modules/decoders\n- Power relays and adapters\n- Full sets (casing + socket + canbus bundled)\n\nBrands We Carry (common ones):\nPerodua (Myvi, Axia, Alza, Aruz, Ativa, Bezza, Viva, Kenari, Kelisa, Kancil)\nProton (Saga, Persona, Iriz, X50, X70, Wira, Waja, Perdana, Exora, Preve)\nHonda (City, Civic, Jazz, HRV, CRV, Accord, BRZ)\nToyota (Vios, Camry, Hilux, Innova, Rush, Yaris, Corolla, Fortuner)\nNissan (Almera, Navara, X-Trail, Serena, Note, Sylphy)\nBMW, Mercedes-Benz, Mazda, Hyundai, Kia, Suzuki, Mitsubishi, Isuzu, Ford, Volkswagen\nAlso: Geely, Chery, Haval, MG, and other brands\n\n==============================\n2. CUSTOMER CONTEXT\n==============================\n\nCurrent Customer:\n- Name: ${customerName}\n- Type: ${customerType} (${pricingLabel})\n- Registered: ${isRegistered ? 'Yes' : 'No'}\n- Price field to use: ${priceField}\n${customerType === 'merchant' ? '- This is a B2B MERCHANT — show merchant_price as \"Member Price\"' : '- This is a RETAIL customer — show normal_price as \"Retail Price\"'}\n${!isRegistered ? '- They are NOT registered. After helping them, casually mention: \"By the way, you can register at ' + WEBSITE_URL + '/auth for member pricing and order tracking!\"' : ''}\n\n==============================\n3. SEARCH STRATEGY\n==============================\n\nGOLDEN RULE: Search first, ask later. Never interrogate the user.\n\nStep 1 — SEARCH IMMEDIATELY\nWhen a user mentions ANY car brand, model, or product type, call search_products right away with whatever info you have. Do NOT ask for year, size, or specs upfront.\n\nStep 2 — LET RESULTS GUIDE THE CONVERSATION\n- 1 result? Show it with full component breakdown. Done.\n- 2-5 results? Show all of them. Let user pick.\n- Many results? Show top 5 and ask ONE question to narrow down (usually: \"Which model/year?\")\n- 0 results? Try a broader search (just brand name). If still nothing, say \"Sorry, we dont have that yet\" and suggest similar brands or ask them to contact admin.\n\nStep 3 — ALWAYS SHOW COMPONENTS\nAfter finding products, ALWAYS call get_product_components for each product to show the full breakdown. Never just show a product name without its components and prices.\n\nStep 4 — SMART FOLLOW-UPS\nOnly ask follow-up questions that MATTER based on what the search returned:\n- If results have different years -> \"Which year is your car?\"\n- If results have different variants -> Show all and let them choose\n- NEVER ask about screen size, technical specs, or things users wont know\n- NEVER ask a question if only one option exists\n\n==============================\n4. LANGUAGE & COMMUNICATION\n==============================\n\nReply in whatever language the customer uses:\n- English -> Reply in English\n- Malay -> Reply in Malay\n- Chinese (Mandarin) -> Reply in Chinese (simplified)\n- Mixed (Manglish/rojak) -> Match their style\n\nCommon phrases by language:\n\nMalay:\n- \"Ada tak?\" = \"Do you have?\"\n- \"Berapa harga?\" / \"Brp?\" = \"How much?\"\n- \"Nak beli\" = \"Want to buy\"\n- \"Semua sekali\" = \"Everything together\"\n- \"Boleh murah sikit?\" = \"Can cheaper?\" (direct to admin for negotiation)\n- \"Stok ada?\" = \"In stock?\"\n\nChinese:\n- \"有没有?\" / \"有吗?\" = \"Do you have?\"\n- \"多少钱?\" / \"几钱?\" = \"How much?\"\n- \"要买\" = \"Want to buy\"\n- \"全套\" / \"一套\" = \"Full set\"\n- \"有货吗?\" = \"In stock?\"\n- \"便宜点\" = \"Cheaper please\" (direct to admin)\n- \"什么牌子有?\" = \"What brands available?\"\n\nManglish/Slang:\n- \"got ah?\" / \"got or not?\" = \"Do you have?\"\n- \"how much ah?\" = Price inquiry\n- \"can lah\" = Agreement\n- \"the thing\" / \"that one\" = Refer to previous item mentioned\n\n==============================\n5. HANDLING EDGE CASES\n==============================\n\nVague product queries:\n- \"got casing?\" / \"有casing吗?\" -> \"Sure! What car brand and model? e.g. Perodua Myvi, Honda City\"\n- \"screen punya\" / \"screen的\" -> They mean casing/frame, ask which car\n- \"the connector thing\" -> Probably socket, ask which car\n- \"everything for my car\" -> Ask which car, then show all available products\n\nPrice queries:\n- \"how much?\" with no context -> Ask which car and product\n- \"which one cheapest?\" -> Search, sort by price, show cheapest option\n- \"total for full set?\" -> Show all components with subtotal\n- \"member price?\" / \"wholesale price?\" -> If B2B, show merchant prices. If B2C, mention registration for member pricing\n\nOut of stock:\n- If a component shows out of stock, say clearly: \"Currently out of stock\"\n- Suggest: \"Contact admin at wa.me/60342977668 to check restocking timeline\"\n- If alternative components exist, suggest them\n\nNo results found:\n- Try broader search (just brand name without model)\n- If still nothing: \"Sorry, we don't carry [X] yet. Here are similar options:\" and search for the brand\n- Last resort: \"Contact our team at wa.me/60342977668 — they might be able to source it for you!\"\n\nPrice negotiation:\n- \"Can discount?\" / \"Boleh kurang?\" / \"便宜点可以吗?\"\n- Reply: \"For pricing discussions, please contact our sales team directly: wa.me/60342977668\"\n- Never promise discounts or change prices\n\nNon-product questions:\n- \"Where are you located?\" -> Auto Lab Sdn Bhd, No 17, Jalan 7/98B, Cheras Utama, 56100 KL\n- \"Operating hours?\" -> Mon-Fri: 9am-6pm, Sat: 9am-1pm, Sun/PH: Closed\n- \"How to install?\" -> \"Check the product page for installation guides, or ask our team at wa.me/60342977668\"\n- \"Can do installation?\" -> \"We are a parts supplier. For installation, please visit a car accessory workshop near you\"\n- \"How to return?\" -> \"Contact our admin at wa.me/60342977668 with your order number\"\n\nGibberish / unclear:\n- Reply warmly: \"Hi! I can help you find car accessories. Just tell me your car brand and model and what you need!\"\n- Chinese: \"你好！请告诉我你的车款和需要什么配件，我来帮你找！\"\n\n==============================\n6. CROSS-SELL & SUGGESTIONS\n==============================\n\nAfter showing a casing product, suggest related components:\n- \"You might also need a *socket* and *canbus module* for a complete installation\"\n- If user only asks for socket, mention: \"We also have the casing for your [car] if you need it\"\n- For full set inquiries, show everything available and total it up\n\nWhen showing results, if the product has a remark on a component (e.g. \"H Spec\", \"AV Spec\", \"X Spec\"):\n- Show it clearly: \"Socket LHL-996# — _H Spec_ — RM10.00\"\n- If multiple specs exist, explain: \"This product has different spec options. H Spec and X Spec are different wiring configurations for your car variant\"\n\n==============================\n7. CART MANAGEMENT\n==============================\n\nAdding to cart:\n- Need component SKU (e.g. PD-025T, CB-804#)\n- After adding, show updated cart with total\n- \"Added! Your cart now has 3 items totaling RM49.00\"\n\nViewing cart:\n- Show all items with SKU, name, qty, price, subtotal\n- Show grand total\n- \"To checkout, visit ${WEBSITE_URL}/cart\"\n\nRemoving from cart:\n- ALWAYS call view_cart FIRST to get current SKUs\n- Then call remove_from_cart with the correct SKU\n- Show updated cart after\n\nClearing cart:\n- Confirm: \"Clear your entire cart? All items will be removed\"\n- After clearing: \"Cart cleared! Browse products anytime\"\n\n==============================\n8. ORDER TRACKING\n==============================\n\n- Can look up by order number (e.g. \"ORD-20260404-0001\")\n- Can also auto-search by sender's phone number\n- Show: order number, status, items, total, courier info\n- For J&T Express: tracking link https://www.jtexpress.my/tracking?billcode={tracking_number}\n- For Lalamove: provide tracking number only\n- Status meanings to explain to customer:\n  - Processing = Payment confirmed, preparing order\n  - Packing = Being packed by warehouse\n  - Ready for Collection = Ready for self-pickup at our store\n  - Out for Delivery = On the way via courier\n  - Completed = Delivered\n\n==============================\n9. RESPONSE FORMAT\n==============================\n\nProduct listing format:\n\n*PRODUCT NAME*\nYear: XXXX-XXXX\n\nComponents:\n- Component Name (SKU) — RM XX.XX [stock status]\n- Component Name (SKU) — _Remark_ — RM XX.XX [stock status]\n\nView: ${WEBSITE_URL}/product/{product_id}\n\nMultiple products: number them 1, 2, 3...\n\nAfter showing products, end with a call to action:\n- \"Which components would you like? Just tell me the SKU or number!\"\n- Or in Malay: \"Nak yang mana? Bagitahu saya SKU atau nombor!\"\n- Or Chinese: \"要哪个？告诉我SKU或编号就可以了！\"\n\n==============================\n10. TONE & STYLE\n==============================\n\n- Warm, helpful, professional but not stiff\n- Match customer's energy — casual if they are casual, formal if they are formal\n- Use *bold* for product names and important info\n- Use _italic_ for remarks and subtle notes\n- Keep messages UNDER 250 words — be concise\n- Use emojis sparingly and naturally (not every sentence)\n- Never sound robotic — sound like a knowledgeable friend at a car parts shop\n- If unsure about something, be honest: \"I am not 100% sure about that. Let me connect you with our team: wa.me/60342977668\"\n\n==============================\n11. EXAMPLE CONVERSATIONS\n==============================\n\nExample 1 — Simple search (English):\nUser: \"honda city casing\"\nYou: [call search_products(\"honda city casing\")]\n[call get_product_components for each result]\n\"Here's what we have for Honda City:\n\n*HONDA CITY/JAZZ CASING 9in (M/AIR-COND) (GOLD) 2003-2007*\n\nComponents:\n- Casing HO-221N — RM15.00 (in stock)\n- Socket CB-804# — RM4.00 (in stock)\n\nView: ${WEBSITE_URL}/product/xxx\n\nWant to add anything to cart? Just tell me the SKU!\"\n\nExample 2 — Vague query (Malay):\nUser: \"ada tak utk myvi?\"\nYou: [call search_products(\"perodua myvi\")]\n\"Ada! Ini produk untuk Perodua Myvi:\n\n1. *PERODUA MYVI CASING 10in 2018-2024*\n   - Casing PR-093T — RM225.00\n   - Socket LHL-841# — RM4.00\n   - Canbus CB-734# — RM55.00\n\n2. *PERODUA MYVI CASING 9in 2005-2011*\n   - Casing PR-045N — RM15.00\n   - Socket CB-804# — RM4.00\n\nNak yang mana?\"\n\nExample 3 — Chinese query:\nUser: \"perodua alza有什么？\"\nYou: [call search_products(\"perodua alza\")]\n\"Perodua Alza 有以下产品：\n\n1. *PERODUA ALZA CASING 10in (FULL) 2022-2026*\n   配件：\n   - 面框 PD-025T — RM35.00 (有货)\n   - 插座 CB-804# — RM4.00 (有货)\n   - 插座 LHL-996# — _H Spec_ — RM10.00 (有货)\n   - Canbus NL-6006 — RM55.00 (有货)\n\n2. *PERODUA ALZA CASING 10in (SLIM) 2022-2026*\n   配件：\n   - 面框 TO-524T — RM15.00 (有货)\n   - 插座 CB-804# — RM4.00 (有货)\n\n要加哪个到购物车？告诉我编号就行了！\"\n\nExample 4 — Price inquiry:\nUser: \"how much full set for saga?\"\nYou: [call search_products(\"proton saga\")]\n[call get_product_components for results]\n\"For Proton Saga, here is the full set:\n\n*PROTON SAGA CASING 9in 2016-2024*\n\nComponents:\n- Casing PR-061N — RM15.00\n- Socket LHL-830# — RM10.00\n- Canbus CB-892# — RM55.00\n\nFull set total: RM80.00\n\nWant me to add all to your cart?\"\n\nExample 5 — Order tracking:\nUser: \"my order status?\"\nYou: [call get_customer_orders with sender phone]\n\"Found your recent order:\n\n*#ORD-20260404-0001*\nStatus: Out for Delivery\nCourier: J&T Express\nTracking: JNT1773904415792309\nTrack here: https://www.jtexpress.my/tracking?billcode=JNT1773904415792309\n\nEstimated delivery: 2-4 business days\"\n\nExample 6 — Error recovery:\nUser: \"got lamborghini casing?\"\nYou: [call search_products(\"lamborghini\")]\n[no results]\n\"Sorry, we don't carry Lamborghini accessories at the moment.\n\nWe mainly stock casings for popular Malaysian cars like Perodua, Proton, Honda, and Toyota.\n\nWant me to check for another car brand? Or contact our team at wa.me/60342977668 — they might be able to help source it!\"\n\n==============================\nCONTACT INFO\n==============================\n- Admin WhatsApp: wa.me/60342977668\n- Phone: 03-4297 7668\n- Address: Auto Lab Sdn Bhd, No 17, Jalan 7/98B, Cheras Utama, 56100 KL\n- Website: ${WEBSITE_URL}\n- Operating Hours: Mon-Fri 9am-6pm, Sat 9am-1pm`;\n\nreturn {\n  json: {\n    systemMessage,\n    senderPhone,\n    senderName: customerName,\n    customerType,\n    pricingLabel,\n    isRegistered,\n    priceField,\n    WEBSITE_URL,\n    SUPABASE_URL: config.SUPABASE_URL,\n    SUPABASE_KEY: config.SUPABASE_KEY,\n    WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL\n  }\n};"
      },
      "id": "prepare-context",
      "name": "Prepare Customer Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        500
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Prepare Customer Context').first().json.systemMessage }}",
        "options": {
          "systemMessage": "=You are AutoLab's WhatsApp shopping assistant 🚗 — a friendly, knowledgeable guide for automotive accessories in Malaysia.\n\n## Your Capabilities:\n1. **Product Search** — Help customers find car casings, sockets, canbus, and accessories by car brand/model\n2. **Order Tracking** — Look up order status and delivery tracking\n3. **Cart Management** — Add/remove items, view cart\n4. **Returns** — Guide customers through the return process\n5. **Customer Support** — Answer general questions about AutoLab\n\n## Customer Context:\n- Customer Name: {{ $('Prepare Customer Context').first().json.customerName }}\n- Customer Type: {{ $('Prepare Customer Context').first().json.customerType }} ({{ $('Prepare Customer Context').first().json.pricingLabel }})\n- Registered: {{ $('Prepare Customer Context').first().json.isRegistered }}\n- When showing prices, use {{ $('Prepare Customer Context').first().json.priceField }} column from results\n- For unregistered customers, encourage them to register at {{ $('Prepare Customer Context').first().json.WEBSITE_URL }}/auth for member benefits\n\n## Search Strategy:\n1. Always ask for the car brand first if not provided\n2. Then ask for the specific model\n3. Search with both brand and model for best results\n4. Show product name, price, stock status, and link\n5. If multiple results, present as a numbered list\n\n## Formatting Rules (WhatsApp):\n- Use *bold* for emphasis\n- Use _italic_ for subtle notes\n- Use bullet points with •\n- Keep messages concise (under 300 words)\n- Include product links: {{ $('Prepare Customer Context').first().json.WEBSITE_URL }}/product/{product_id}\n- Include tracking links for J&T: https://www.jtexpress.my/tracking?billcode={tracking_number}\n\n## Price Display:\n- For B2B merchants: Show merchant price as \"Member Price\"\n- For B2C retail: Show normal price as \"Retail Price\"\n- Always format as RM X.XX\n\n## Contact Info:\n- Admin WhatsApp: wa.me/60342977668\n- Phone: 03-4297 7668\n- Website: {{ $('Prepare Customer Context').first().json.WEBSITE_URL }}\n\n## Important Rules:\n- Never make up product information — always use search tools\n- If a product is out of stock, say so clearly\n- For returns, direct customers to contact admin via WhatsApp\n- Always be polite and use appropriate emojis\n- If you don't know something, say so and offer to connect with admin\n\n## When Customer Says Hi / Menu / Start\nShow a welcome message with these options:\n🔍 *Find Products* - Search car parts & accessories\n📦 *My Orders* - Track your orders\n🛒 *My Cart* - View your shopping cart\n👤 *Talk to Admin* - Connect with our team"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1340,
        500
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 800
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1100,
        740
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-key",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Message').first().json.senderPhone }}",
        "contextWindowLength": 12
      },
      "id": "memory-buffer",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        1300,
        740
      ]
    },
    {
      "parameters": {
        "toolDescription": "Search for automotive products by name, brand, model, or category. Returns products with components, prices, and stock info.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_smart_search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_query",
              "value": "={{ $fromAI('query', 'Search text for product name, brand, model, or category', 'string') }}"
            },
            {
              "name": "p_limit",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-search-products",
      "name": "search_products",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        800,
        940
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get detailed components (SKUs, prices, stock) for a specific product.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_get_product_components",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_product_id",
              "value": "={{ $fromAI('product_id', 'The UUID of the product from search results', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-get-components",
      "name": "get_product_components",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1020,
        940
      ]
    },
    {
      "parameters": {
        "toolDescription": "List available car brands/makes.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_list_car_makes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "tool-car-brands",
      "name": "search_car_brands",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1240,
        940
      ]
    },
    {
      "parameters": {
        "toolDescription": "Search car models for a specific brand.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_search_car_models",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_make_name",
              "value": "={{ $fromAI('make_name', 'Car brand name e.g. Toyota, Honda', 'string') }}"
            },
            {
              "name": "p_model_query",
              "value": "={{ $fromAI('model_query', 'Optional model name to filter', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-car-models",
      "name": "search_car_models",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1460,
        940
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get recent orders for this customer. Auto-uses sender's phone.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_get_customer_orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $('Prepare Customer Context').first().json.senderPhone }}\"\n}",
        "options": {}
      },
      "id": "tool-get-orders",
      "name": "get_customer_orders",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1680,
        940
      ]
    },
    {
      "parameters": {
        "toolDescription": "Get full details of a specific order including items.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_get_order_details",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_order_no",
              "value": "={{ $fromAI('order_no', 'The order number e.g. ORD-20260225-000012', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-order-details",
      "name": "get_order_details",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        800,
        1140
      ]
    },
    {
      "parameters": {
        "toolDescription": "Add a component to the customer's cart by SKU.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_add_to_cart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $('Prepare Customer Context').first().json.senderPhone }}\",\n  \"p_component_sku\": \"{{ $fromAI('component_sku', 'The component SKU from get_product_components results', 'string') }}\",\n  \"p_quantity\": {{ $fromAI('quantity', 'Number of items to add (default 1)', 'number') }}\n}",
        "options": {}
      },
      "id": "tool-add-to-cart",
      "name": "add_to_cart",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1020,
        1140
      ]
    },
    {
      "parameters": {
        "toolDescription": "View all items in the customer's cart.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_get_cart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $('Prepare Customer Context').first().json.senderPhone }}\"\n}",
        "options": {}
      },
      "id": "tool-view-cart",
      "name": "view_cart",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1240,
        1140
      ]
    },
    {
      "parameters": {
        "toolDescription": "Remove a component from the cart. Call view_cart first to get SKUs.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_remove_from_cart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $('Prepare Customer Context').first().json.senderPhone }}\",\n  \"p_component_sku\": \"{{ $fromAI('component_sku', 'The component SKU of the item to remove (from view_cart results)', 'string') }}\",\n  \"p_quantity\": {{ $fromAI('quantity', 'Number of items to remove', 'number') }}\n}",
        "options": {}
      },
      "id": "tool-remove-from-cart",
      "name": "remove_from_cart",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1460,
        1140
      ]
    },
    {
      "parameters": {
        "toolDescription": "Clear all items from the customer's cart.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_clear_cart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $('Prepare Customer Context').first().json.senderPhone }}\"\n}",
        "options": {}
      },
      "id": "tool-clear-cart",
      "name": "clear_cart",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1680,
        1140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $('Extract Message').first().json.senderPhone, message: $('AI Agent').first().json.output }) }}",
        "options": {}
      },
      "id": "send-chatbot-reply",
      "name": "Send Webhook Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-supabase-url",
              "name": "SUPABASE_URL",
              "value": "=YOUR_SUPABASE_URL",
              "type": "string"
            },
            {
              "id": "cfg-supabase-key",
              "name": "SUPABASE_KEY",
              "value": "=YOUR_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "cfg-website-url",
              "name": "WEBSITE_URL",
              "value": "=https://demoautolab.vercel.app",
              "type": "string"
            },
            {
              "id": "cfg-admin-phone",
              "name": "ADMIN_PHONE",
              "value": "=60342977668",
              "type": "string"
            },
            {
              "id": "webhook-send-url",
              "name": "WEBHOOK_SEND_URL",
              "value": "YOUR_WEBHOOK_SEND_URL",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        500
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-notifications",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh-notifications",
      "name": "Order Notification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1600
      ],
      "webhookId": "order-notifications"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ncfg-supabase-url",
              "name": "SUPABASE_URL",
              "value": "=YOUR_SUPABASE_URL",
              "type": "string"
            },
            {
              "id": "ncfg-supabase-key",
              "name": "SUPABASE_KEY",
              "value": "=YOUR_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "ncfg-website-url",
              "name": "WEBSITE_URL",
              "value": "=https://demoautolab.vercel.app",
              "type": "string"
            },
            {
              "id": "ncfg-admin-phone",
              "name": "ADMIN_PHONE",
              "value": "=60342977668",
              "type": "string"
            },
            {
              "id": "webhook-send-url",
              "name": "WEBHOOK_SEND_URL",
              "value": "YOUR_WEBHOOK_SEND_URL",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "notif-config",
      "name": "Notification Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst config = $('Notification Config').first().json;\n\n// Supabase database webhook sends: type, table, record, old_record\nconst table = body.table || '';\nconst eventType = body.type || ''; // INSERT, UPDATE, DELETE\nconst record = body.record || {};\nconst oldRecord = body.old_record || {};\n\nlet notifType = 'UNKNOWN';\nlet data = { ...record };\n\nif (table === 'orders') {\n  if (eventType === 'INSERT') {\n    notifType = 'ORDER_CREATED';\n  } else if (eventType === 'UPDATE') {\n    // Check what changed\n    if (record.status !== oldRecord.status) {\n      notifType = 'ORDER_STATUS_CHANGED';\n    }\n    if (record.tracking_number && !oldRecord.tracking_number) {\n      notifType = 'TRACKING_NUMBER_ADDED';\n    }\n    if (record.payment_state !== oldRecord.payment_state) {\n      notifType = 'PAYMENT_STATE_CHANGED';\n    }\n  }\n} else if (table === 'returns') {\n  if (eventType === 'INSERT') {\n    notifType = 'RETURN_CREATED';\n  } else if (eventType === 'UPDATE' && record.status !== oldRecord.status) {\n    notifType = 'RETURN_STATUS_CHANGED';\n  }\n}\n\n// Normalize phone\nlet customerPhone = record.customer_phone || record.phone || '';\ncustomerPhone = customerPhone.replace(/^\\+/, '');\nif (customerPhone.startsWith('0')) {\n  customerPhone = '60' + customerPhone.substring(1);\n}\n\nreturn {\n  json: {\n    notifType,\n    table,\n    record: data,\n    oldRecord,\n    customerPhone,\n    customerName: record.customer_name || record.name || 'Customer',\n    orderNo: record.order_no || record.order_number || '',\n    total: record.total || record.grand_total || 0,\n    status: record.status || '',\n    oldStatus: oldRecord.status || '',\n    paymentState: record.payment_state || '',\n    oldPaymentState: oldRecord.payment_state || '',\n    deliveryMethod: record.delivery_method || record.shipping_method || '',\n    courierProvider: record.courier_provider || record.courier || '',\n    trackingNumber: record.tracking_number || '',\n    reason: record.reason || record.return_reason || '',\n    timestamp: new Date().toISOString(),\n    SUPABASE_URL: config.SUPABASE_URL,\n    SUPABASE_KEY: config.SUPABASE_KEY,\n    WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL,\n    WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL,\n    WEBSITE_URL: config.WEBSITE_URL,\n    ADMIN_PHONE: config.ADMIN_PHONE\n  }\n};"
      },
      "id": "parse-notification",
      "name": "Parse Notification Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1600
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notifType }}",
                    "rightValue": "ORDER_CREATED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "ORDER_CREATED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notifType }}",
                    "rightValue": "ORDER_STATUS_CHANGED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "ORDER_STATUS_CHANGED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notifType }}",
                    "rightValue": "TRACKING_NUMBER_ADDED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "TRACKING_NUMBER_ADDED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notifType }}",
                    "rightValue": "PAYMENT_STATE_CHANGED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "PAYMENT_STATE_CHANGED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notifType }}",
                    "rightValue": "RETURN_CREATED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "RETURN_CREATED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notifType }}",
                    "rightValue": "RETURN_STATUS_CHANGED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "RETURN_STATUS_CHANGED"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "route-notification",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        880,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst websiteUrl = d.WEBSITE_URL;\n\nconst customerMsg = `🎉 *Order Confirmed!*\\n\\nHi ${d.customerName}, your order has been placed!\\n\\n📋 *Order:* #${d.orderNo}\\n💰 *Total:* RM${Number(d.total).toFixed(2)}\\n🚚 *Delivery:* ${d.deliveryMethod}\\n💳 *Payment:* ${d.paymentState}\\n\\nWe'll notify you when your order is being packed. Thank you for shopping with AutoLab! 🙏`;\n\nconst adminMsg = `🔔 *NEW ORDER*\\n\\n📋 #${d.orderNo}\\n👤 ${d.customerName} (${d.customerPhone})\\n💰 RM${Number(d.total).toFixed(2)}\\n💳 ${d.paymentState}\\n🚚 ${d.deliveryMethod}\\n⏰ ${d.timestamp}`;\n\nreturn {\n  json: {\n    ...d,\n    customerMsg,\n    adminMsg\n  }\n};"
      },
      "id": "fmt-order-created",
      "name": "Format Order Created",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst websiteUrl = d.WEBSITE_URL;\nconst status = d.status;\nlet customerMsg = '';\nlet adminMsg = '';\n\nswitch (status) {\n  case 'packing':\n    const packingDelivery = d.deliveryMethod === 'self-pickup' ? 'collection' : 'delivery';\n    customerMsg = `📦 *Order Being Packed*\\n\\nYour order #${d.orderNo} is now being packed by our warehouse team.\\n\\nWe'll update you once it's ready for ${packingDelivery}.`;\n    adminMsg = `📦 Order #${d.orderNo} status changed to PACKING`;\n    break;\n\n  case 'ready_for_collection':\n    customerMsg = `📍 *Ready for Collection!*\\n\\nYour order #${d.orderNo} is ready for pickup!\\n\\n📍 *Location:* Auto Lab Sdn Bhd\\nNo 17, Jalan 7/98B, Cheras Utama\\n56100 Kuala Lumpur\\n\\n🕐 *Operating Hours:*\\nMon-Fri: 9:00 AM - 6:00 PM\\nSat: 9:00 AM - 1:00 PM\\n\\nPlease bring your order confirmation. Thank you! 🙏`;\n    adminMsg = `📍 Order #${d.orderNo} is READY FOR COLLECTION`;\n    break;\n\n  case 'out_for_delivery':\n    const trackingLink = d.trackingNumber ? `https://www.jtexpress.my/tracking?billcode=${d.trackingNumber}` : '';\n    customerMsg = `🚚 *Out for Delivery!*\\n\\nYour order #${d.orderNo} is on its way!\\n\\n📦 *Courier:* ${d.courierProvider}\\n🔍 *Tracking:* ${d.trackingNumber}\\n${trackingLink ? '🔗 ' + trackingLink : ''}\\n\\nEstimated delivery: 2-4 business days.`;\n    adminMsg = `🚚 Order #${d.orderNo} is OUT FOR DELIVERY (${d.courierProvider} - ${d.trackingNumber})`;\n    break;\n\n  case 'completed':\n    customerMsg = `✅ *Order Delivered!*\\n\\nYour order #${d.orderNo} has been delivered. Thank you for choosing AutoLab! 🙏\\n\\nIf you have any issues, contact us:\\n📱 wa.me/60342977668\\n📞 03-4297 7668\\n\\nLeave us a review at ${websiteUrl}/my-orders 💚`;\n    adminMsg = `✅ Order #${d.orderNo} COMPLETED`;\n    break;\n\n  case 'cancelled':\n    customerMsg = `❌ *Order Cancelled*\\n\\nYour order #${d.orderNo} has been cancelled.\\n\\nIf this was a mistake, please contact us:\\n📱 wa.me/60342977668`;\n    adminMsg = `❌ Order #${d.orderNo} CANCELLED`;\n    break;\n\n  default:\n    customerMsg = `📦 Your order #${d.orderNo} status has been updated to: *${status}*`;\n    adminMsg = `📦 Order #${d.orderNo} status: ${status}`;\n}\n\nreturn {\n  json: {\n    ...d,\n    customerMsg,\n    adminMsg\n  }\n};"
      },
      "id": "fmt-order-status",
      "name": "Format Order Status Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1440
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst trackingLink = d.trackingNumber ? `https://www.jtexpress.my/tracking?billcode=${d.trackingNumber}` : '';\n\nconst customerMsg = `📬 *Tracking Number Available*\\n\\nYour order #${d.orderNo} tracking is ready:\\n\\n📦 *Courier:* ${d.courierProvider}\\n🔍 *Tracking:* ${d.trackingNumber}\\n🔗 Track here: ${trackingLink}`;\n\nconst adminMsg = `📬 Tracking added to Order #${d.orderNo}: ${d.courierProvider} - ${d.trackingNumber}`;\n\nreturn {\n  json: {\n    ...d,\n    customerMsg,\n    adminMsg\n  }\n};"
      },
      "id": "fmt-tracking",
      "name": "Format Tracking Added",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1680
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst websiteUrl = d.WEBSITE_URL;\nconst state = d.paymentState;\nlet customerMsg = '';\nlet adminMsg = '';\n\nswitch (state) {\n  case 'submitted':\n    customerMsg = `📸 *Payment Proof Received*\\n\\nWe've received your payment proof for order #${d.orderNo}.\\nOur team will verify it within 1-2 hours during business hours.`;\n    adminMsg = `💳 *PAYMENT PROOF SUBMITTED*\\n\\n📋 #${d.orderNo}\\n👤 ${d.customerName}\\n💰 RM${Number(d.total).toFixed(2)}\\n\\n⚡ Review at: ${websiteUrl}/admin/orders`;\n    break;\n\n  case 'approved':\n    customerMsg = `✅ *Payment Verified!*\\n\\nYour payment for order #${d.orderNo} (RM${Number(d.total).toFixed(2)}) has been approved!\\nWe'll start processing your order now.`;\n    adminMsg = `✅ Payment APPROVED for Order #${d.orderNo} (RM${Number(d.total).toFixed(2)})`;\n    break;\n\n  case 'rejected':\n    customerMsg = `❌ *Payment Rejected*\\n\\nSorry, your payment for order #${d.orderNo} could not be verified.\\nPlease resubmit or contact us:\\n📱 wa.me/60342977668`;\n    adminMsg = `❌ Payment REJECTED for Order #${d.orderNo}`;\n    break;\n\n  default:\n    customerMsg = `💳 Your payment status for order #${d.orderNo} has been updated to: *${state}*`;\n    adminMsg = `💳 Payment state for Order #${d.orderNo}: ${state}`;\n}\n\nreturn {\n  json: {\n    ...d,\n    customerMsg,\n    adminMsg\n  }\n};"
      },
      "id": "fmt-payment",
      "name": "Format Payment Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1920
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst websiteUrl = d.WEBSITE_URL;\n\nconst customerMsg = `🔁 *Return Request Received*\\n\\nWe've received your return request for order #${d.orderNo}.\\n📝 *Reason:* ${d.reason}\\n\\nOur team will review it and get back to you shortly.`;\n\nconst adminMsg = `🔁 *NEW RETURN REQUEST*\\n\\n📋 Return for Order #${d.orderNo}\\n👤 ${d.customerName}\\n📝 Reason: ${d.reason}\\n\\nReview at: ${websiteUrl}/admin/returns`;\n\nreturn {\n  json: {\n    ...d,\n    customerMsg,\n    adminMsg\n  }\n};"
      },
      "id": "fmt-return-created",
      "name": "Format Return Created",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2160
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst customerMsg = `🔁 *Return Update*\\n\\nYour return request for order #${d.orderNo} has been updated to: *${d.status}*\\n\\nIf you have questions, contact us:\\n📱 wa.me/60342977668`;\n\nconst adminMsg = `🔁 Return for Order #${d.orderNo} status: ${d.status}`;\n\nreturn {\n  json: {\n    ...d,\n    customerMsg,\n    adminMsg\n  }\n};"
      },
      "id": "fmt-return-status",
      "name": "Format Return Status Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Notification Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.customer_message }) }}",
        "options": {}
      },
      "id": "send-customer-notif-1",
      "name": "Send Notification (Order Created)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Notification Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.customer_message }) }}",
        "options": {}
      },
      "id": "send-customer-notif-2",
      "name": "Send Notification (Status)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Notification Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.customer_message }) }}",
        "options": {}
      },
      "id": "send-customer-notif-3",
      "name": "Send Notification (Tracking)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Notification Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.customer_message }) }}",
        "options": {}
      },
      "id": "send-customer-notif-4",
      "name": "Send Notification (Payment)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Notification Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.customer_message }) }}",
        "options": {}
      },
      "id": "send-customer-notif-5",
      "name": "Send Notification (Return Created)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        2160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Notification Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.customer_message }) }}",
        "options": {}
      },
      "id": "send-customer-notif-6",
      "name": "Send Notification (Return Status)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        2400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 10AM MYT Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        2900
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccfg-supabase-url",
              "name": "SUPABASE_URL",
              "value": "=YOUR_SUPABASE_URL",
              "type": "string"
            },
            {
              "id": "ccfg-supabase-key",
              "name": "SUPABASE_KEY",
              "value": "=YOUR_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "ccfg-website-url",
              "name": "WEBSITE_URL",
              "value": "=https://demoautolab.vercel.app",
              "type": "string"
            },
            {
              "id": "ccfg-admin-phone",
              "name": "ADMIN_PHONE",
              "value": "=60342977668",
              "type": "string"
            },
            {
              "id": "webhook-send-url",
              "name": "WEBHOOK_SEND_URL",
              "value": "YOUR_WEBHOOK_SEND_URL",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cron-config",
      "name": "Cron Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        2900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Cron Config').first().json.SUPABASE_URL }}/rest/v1/rpc/get_unpaid_orders_for_reminder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Cron Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Cron Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "fetch-unpaid-orders",
      "name": "Fetch Unpaid Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        2900
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst config = $('Cron Config').first().json;\nconst now = new Date();\nconst results = [];\n\nfor (const item of items) {\n  const order = item.json;\n  \n  // Skip if no phone\n  let phone = order.customer_phone || order.phone || '';\n  phone = phone.replace(/^\\+/, '');\n  if (phone.startsWith('0')) {\n    phone = '60' + phone.substring(1);\n  }\n  if (!phone) continue;\n\n  const createdAt = new Date(order.created_at);\n  const hoursAgo = (now.getTime() - createdAt.getTime()) / (1000 * 60 * 60);\n\n  let reminderTier = '';\n  let reminderMsg = '';\n  const customerName = order.customer_name || 'Customer';\n  const orderNo = order.order_no || order.order_number || '';\n  const total = Number(order.total || order.grand_total || 0).toFixed(2);\n\n  if (hoursAgo < 24) {\n    reminderTier = 'gentle';\n    reminderMsg = `👋 *Friendly Reminder*\\n\\nHi ${customerName}, your order #${orderNo} (RM${total}) is awaiting payment.\\n\\nComplete your payment to start processing! 🙏`;\n  } else if (hoursAgo < 48) {\n    reminderTier = 'nudge';\n    reminderMsg = `⏰ *Payment Reminder*\\n\\nHi ${customerName}, your order #${orderNo} (RM${total}) is still unpaid.\\n\\nPlease complete payment soon to avoid cancellation.\\n📱 Need help? wa.me/60342977668`;\n  } else if (hoursAgo < 72) {\n    reminderTier = 'urgent';\n    reminderMsg = `⚠️ *Action Required*\\n\\nHi ${customerName}, your order #${orderNo} (RM${total}) will be *auto-cancelled in 24 hours* if payment is not received.\\n\\nPlease pay now or contact us for assistance.\\n📱 wa.me/60342977668`;\n  } else {\n    // > 72h: skip, will be auto-cancelled\n    continue;\n  }\n\n  results.push({\n    json: {\n      customerPhone: phone,\n      customerName,\n      orderNo,\n      total,\n      reminderTier,\n      reminderMsg,\n      hoursAgo: Math.round(hoursAgo),\n      WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL,\n      WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL,\n      WEBSITE_URL: config.WEBSITE_URL,\n      ADMIN_PHONE: config.ADMIN_PHONE,\n      SUPABASE_URL: config.SUPABASE_URL,\n      SUPABASE_KEY: config.SUPABASE_KEY\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "classify-reminders",
      "name": "Classify Reminder Tiers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Cron Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.reminder_message }) }}",
        "options": {}
      },
      "id": "send-reminder",
      "name": "Send Payment Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        2900
      ]
    },
    {
      "parameters": {
        "time": 2,
        "unit": "seconds"
      },
      "id": "wait-reminder",
      "name": "Wait 2s (Between Reminders)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1340,
        2900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Cron Config').first().json.SUPABASE_URL }}/rest/v1/rpc/auto_cancel_unpaid_orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Cron Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Cron Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "auto-cancel",
      "name": "Auto Cancel Unpaid Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        3200
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst config = $('Cron Config').first().json;\nconst results = [];\n\nfor (const item of items) {\n  const order = item.json;\n  \n  // Skip if response is not an array of cancelled orders\n  if (!order.order_no && !order.order_number) continue;\n\n  let phone = order.customer_phone || order.phone || '';\n  phone = phone.replace(/^\\+/, '');\n  if (phone.startsWith('0')) {\n    phone = '60' + phone.substring(1);\n  }\n  if (!phone) continue;\n\n  const customerName = order.customer_name || 'Customer';\n  const orderNo = order.order_no || order.order_number || '';\n\n  const cancelMsg = `🚫 *Order Auto-Cancelled*\\n\\nHi ${customerName}, your order #${orderNo} has been cancelled due to non-payment after 72 hours.\\n\\nYou're welcome to place a new order anytime at ${config.WEBSITE_URL} 🙏`;\n\n  results.push({\n    json: {\n      customerPhone: phone,\n      customerName,\n      orderNo,\n      cancelMsg,\n      WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL,\n      WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL,\n      ADMIN_PHONE: config.ADMIN_PHONE\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { skip: true } }];"
      },
      "id": "format-cancelled",
      "name": "Format Cancellation Notices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        3200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ]
        }
      },
      "id": "if-has-cancelled",
      "name": "Has Cancelled Orders?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        3200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Cron Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.cancel_message }) }}",
        "options": {}
      },
      "id": "send-cancel-notice",
      "name": "Send Cancellation Notice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        3100
      ]
    }
  ],
  "connections": {
    "Chatbot Webhook": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Lookup Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Customer": {
      "main": [
        [
          {
            "node": "Prepare Customer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Customer Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Webhook Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_products": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_product_components": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_car_brands": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_car_models": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_customer_orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_order_details": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add_to_cart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "view_cart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "remove_from_cart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "clear_cart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Order Notification Webhook": {
      "main": [
        [
          {
            "node": "Notification Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification Config": {
      "main": [
        [
          {
            "node": "Parse Notification Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Notification Payload": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Format Order Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Order Status Change",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Tracking Added",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Payment Change",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Return Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Return Status Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Order Created": {
      "main": [
        [
          {
            "node": "Send Notification (Order Created)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification (Order Created)": {
      "main": [
        []
      ]
    },
    "Format Order Status Change": {
      "main": [
        [
          {
            "node": "Send Notification (Status)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification (Status)": {
      "main": [
        []
      ]
    },
    "Format Tracking Added": {
      "main": [
        [
          {
            "node": "Send Notification (Tracking)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification (Tracking)": {
      "main": [
        []
      ]
    },
    "Format Payment Change": {
      "main": [
        [
          {
            "node": "Send Notification (Payment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification (Payment)": {
      "main": [
        []
      ]
    },
    "Format Return Created": {
      "main": [
        [
          {
            "node": "Send Notification (Return Created)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification (Return Created)": {
      "main": [
        []
      ]
    },
    "Format Return Status Change": {
      "main": [
        [
          {
            "node": "Send Notification (Return Status)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification (Return Status)": {
      "main": [
        []
      ]
    },
    "Daily 10AM MYT Cron": {
      "main": [
        [
          {
            "node": "Cron Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Config": {
      "main": [
        [
          {
            "node": "Fetch Unpaid Orders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Auto Cancel Unpaid Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unpaid Orders": {
      "main": [
        [
          {
            "node": "Classify Reminder Tiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Reminder Tiers": {
      "main": [
        [
          {
            "node": "Send Payment Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Payment Reminder": {
      "main": [
        [
          {
            "node": "Wait 2s (Between Reminders)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Cancel Unpaid Orders": {
      "main": [
        [
          {
            "node": "Format Cancellation Notices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cancellation Notices": {
      "main": [
        [
          {
            "node": "Has Cancelled Orders?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Cancelled Orders?": {
      "main": [
        [
          {
            "node": "Send Cancellation Notice",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Cancellation Notice": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kuala_Lumpur"
  },
  "staticData": null,
  "tags": [
    {
      "name": "WhatsApp"
    },
    {
      "name": "AI Agent"
    },
    {
      "name": "AutoLab"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Reminders"
    }
  ],
  "pinData": {}
}