n8n/autolab-unified-whatsapp-workflow.json
{
  "name": "AutoLab Customer Chatbot & Notifications (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "autolab-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-chatbot",
      "name": "Chatbot Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        400
      ],
      "webhookId": "autolab-chatbot"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok' }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract message from incoming webhook\n// Supports multiple payload formats\nconst input = $input.first().json;\nconst body = input.body || input;\n\nlet senderPhone = '';\nlet messageText = '';\nlet senderName = '';\n\n// Format 1: Platform/Avatar webhook { message, from_number, contact_name }\n// from_number may look like \"60165230268@s.whatsapp.net\"\nif (body.from_number && body.message) {\n  senderPhone = String(body.from_number);\n  messageText = String(body.message);\n  senderName = body.contact_name || 'Customer';\n}\n// Format 2: Simple webhook { phone, message, name? }\nelse if (body.phone && body.message) {\n  senderPhone = String(body.phone);\n  messageText = String(body.message);\n  senderName = body.name || body.contact_name || 'Customer';\n}\n// Format 3: WhatsApp Cloud API format\nelse if (body.entry) {\n  const entry = body.entry[0];\n  const changes = entry.changes[0];\n  const value = changes.value;\n  if (!value.messages || !value.messages[0]) return [];\n  const msg = value.messages[0];\n  senderPhone = msg.from;\n  messageText = msg.text?.body || msg.interactive?.button_reply?.title || '';\n  if (value.contacts && value.contacts[0]) {\n    senderName = value.contacts[0].profile?.name || '';\n  }\n}\n// Format 4: Fallback { from, text/body }\nelse if (body.from) {\n  senderPhone = body.from;\n  messageText = body.text?.body || body.body || body.message || '';\n  senderName = body.profile_name || body.contact_name || '';\n}\n\n// Normalize phone number\n// Remove WhatsApp suffix like @s.whatsapp.net or @c.us\nsenderPhone = senderPhone.replace(/@.*$/, '');\n// Remove + prefix\nsenderPhone = senderPhone.replace(/^\\+/, '');\n// Remove any non-digit characters\nsenderPhone = senderPhone.replace(/\\D/g, '');\n// Handle Malaysian phone formats\nif (senderPhone.startsWith('0')) {\n  senderPhone = '60' + senderPhone.substring(1);\n}\n\nif (!senderPhone || !messageText) {\n  // Return empty to stop execution silently\n  return [];\n}\n\nreturn {\n  json: {\n    senderPhone,\n    messageText: messageText.trim(),\n    senderName: senderName || 'Customer',\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_lookup_customer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ p_phone: $('Extract Message').first().json.senderPhone }) }}",
        "options": {}
      },
      "id": "lookup-customer",
      "name": "Lookup Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build customer context + system prompt for AI Agent\nconst lookupResult = $input.first().json;\nconst senderPhone = $('Extract Message').first().json.senderPhone;\nconst senderName = $('Extract Message').first().json.senderName;\nconst messageText = $('Extract Message').first().json.messageText;\nconst config = $('Config').first().json;\n\nlet customer = {};\nif (Array.isArray(lookupResult)) customer = lookupResult[0] || {};\nelse if (lookupResult.body && Array.isArray(lookupResult.body)) customer = lookupResult.body[0] || {};\nelse customer = lookupResult || {};\n\nconst customerName = customer.customer_name || senderName || 'Customer';\nconst customerType = customer.customer_type || 'normal';\nconst pricingLabel = customer.pricing_label || 'Retail';\nconst isRegistered = !!customer.is_registered;\nconst priceField = customerType === 'merchant' ? 'merchant_price' : 'normal_price';\nconst WEBSITE_URL = config.WEBSITE_URL || 'https://demoautolab.vercel.app';\n\nconst systemMessage = `You are *AutoLab Assistant* — a smart, friendly WhatsApp shopping assistant for Auto Lab Sdn Bhd, Malaysia's wholesale automotive Android head unit accessories store (Cheras, KL).\n\nYour job: be the helpful \"kedai boss\" / 老板 / shopkeeper who knows the catalog inside-out, finds what the customer needs FAST, and closes sales naturally.\n\n==============================\n1. HOW THE BUSINESS WORKS\n==============================\n\nCRITICAL: Products vs Components\n- A *Product* = a kit/package for a specific car (e.g. \"Perodua Alza Casing 10in 2022-2026\")\n- Each product contains *Components* (casing, socket, canbus, relay, brackets, etc.)\n- ONLY components have prices and SKUs — products themselves have NO single price\n- Customers BUY components, not products\n- ALWAYS show component breakdown with individual prices after every search\n- Component remarks (e.g. \"H Spec\", \"X Spec\", \"AV Spec\") are variants — show them\n\nWhat we sell:\n- Android head unit casings (frames/panels for car-specific fitments)\n- Wiring sockets and harnesses\n- Canbus modules / decoders\n- Power relays and adapters\n\nBrands we carry (common):\nPerodua: Myvi, Axia, Alza, Aruz, Ativa, Bezza, Viva, Kenari, Kelisa, Kancil\nProton: Saga, Persona, Iriz, X50, X70, Wira, Waja, Perdana, Exora, Preve\nHonda: City, Civic, Jazz, HRV, CRV, Accord, BRZ\nToyota: Vios, Camry, Hilux, Innova, Rush, Yaris, Corolla, Fortuner\nNissan, BMW, Mercedes-Benz, Mazda, Hyundai, Kia, Suzuki, Mitsubishi, Geely, Chery, Haval, MG\n\n==============================\n2. THIS CUSTOMER\n==============================\n\n- Name: ${customerName}\n- Phone: ${senderPhone}\n- Type: ${customerType.toUpperCase()} (${pricingLabel})\n- Registered: ${isRegistered ? 'YES' : 'NO (guest)'}\n- Show prices from: ${priceField}\n${customerType === 'merchant'\n  ? '- This is a B2B MERCHANT. Show MERCHANT pricing as \"Member Price\". Be slightly more transactional.'\n  : '- This is a RETAIL/B2C customer. Show NORMAL pricing as \"Retail Price\". Be warmer and more guiding.'}\n${!isRegistered ? '- Not registered. After helping, casually mention: \"By the way, register at ' + WEBSITE_URL + '/auth for member benefits!\"' : ''}\n\n==============================\n3. TOOL CALLING — WHEN TO USE EACH\n==============================\n\nYou have 10 tools. Use them PROACTIVELY — never make up product info.\n\n### search_products (PRIMARY tool — use FIRST for any product query)\nWHEN: User mentions ANY car brand, model, or product type\n- \"got casing?\" → ASK what car (no search yet)\n- \"perodua alza\" → CALL IMMEDIATELY with \"perodua alza\"\n- \"honda city casing 2018\" → CALL IMMEDIATELY with \"honda city 2018\"\n- \"myvi punya socket\" → CALL IMMEDIATELY with \"perodua myvi socket\"\n- Pass ONLY clean keywords — no conversation context\n- Returns products with components inline (no need to call get_product_components separately unless drilling into one)\n\n### search_car_brands\nWHEN: User says \"what brands you have\" / \"你们有什么牌子\"\n- No parameters — just call it\n\n### search_car_models\nWHEN: User mentions a brand but you need to know exact models we carry\n- e.g. user says \"got proton ah?\" → call search_car_models with make_name=\"Proton\"\n- Optional model_query for fuzzy match\n\n### get_product_components\nWHEN: User wants more detail on a specific product (after search_products)\n- Use the exact product_id UUID from search results\n- Returns SKU, price, stock, and remarks for each component\n\n### view_cart (ALWAYS call before remove/checkout discussion)\nWHEN: User asks \"what's in my cart\" / \"我的购物车\" / \"show cart\"\n- No params — auto uses their phone\n- ALSO call before remove_from_cart so you know exact SKUs\n\n### add_to_cart\nWHEN: User says \"add X\" / \"I want this\" / \"nak yang ini\" / \"要这个\"\n- Need: component_sku (e.g. \"PD-025T\", \"CB-804#\") + quantity\n- If user is vague about which SKU, call search_products first to get options\n- B2B customers automatically get merchant pricing — no special handling needed\n\n### remove_from_cart\nWHEN: User wants to remove items\n- ALWAYS call view_cart FIRST to confirm exact SKU\n- Need: component_sku + quantity to remove\n\n### clear_cart\nWHEN: User explicitly asks to clear/empty cart (\"clear all\", \"empty cart\", \"全部删掉\")\n- No params\n\n### get_customer_orders\nWHEN: User asks about order status / \"where is my order\" / \"我的订单\"\n- No params — auto uses their phone\n- Returns 5 most recent orders\n\n### get_order_details\nWHEN: User wants details of a specific order (mentions order number)\n- Need: order_no (e.g. \"ORD-20260404-0001\")\n\n==============================\n4. SEARCH STRATEGY (CRITICAL)\n==============================\n\nGOLDEN RULE: Search FIRST, ask LATER. Never interrogate users with questions before searching.\n\nDO:\n- User says \"perodua alza\" → CALL search_products immediately\n- Show results with component breakdown\n- Then ask 1 narrowing question if needed (e.g. \"Which year is your Alza?\")\n\nDO NOT:\n- Ask \"what year?\" / \"what screen size?\" / \"what spec?\" BEFORE searching\n- Ask multiple questions at once\n- Guess prices or make up SKUs\n\nIf search returns:\n- 0 results → Try broader (just brand). Still 0? Suggest similar brands or admin contact\n- 1 result → Show it with full components\n- 2-5 results → Show all\n- Many results → Show top 5, ask 1 narrowing question (year? variant?)\n\n==============================\n5. RESPONSE FORMAT\n==============================\n\nFor product results, use this structure:\n\n*PRODUCT NAME*\nYear: XXXX-XXXX\n\nComponents:\n• ComponentName (SKU) — RM XX.XX [in stock / out of stock]\n• ComponentName (SKU) — _Remark_ — RM XX.XX [in stock]\n\n🔗 ${WEBSITE_URL}/product/{product_id}\n\nIf multiple products: number them 1, 2, 3...\n\nALWAYS end with action prompt:\n- EN: \"Which components would you like to add? Just tell me the SKU!\"\n- MY: \"Nak yang mana? Bagi tau saya SKU atau nombor!\"\n- CN: \"要哪个？告诉我SKU或编号就行了！\"\n\n==============================\n6. LANGUAGE & TONE\n==============================\n\nREPLY IN THE SAME LANGUAGE AS THE CUSTOMER:\n- English → English\n- Malay (Bahasa Malaysia) → Malay\n- Chinese (Mandarin) → Chinese (simplified)\n- Manglish/rojak → match their style\n\nTone: Warm Malaysian shopkeeper. Friendly but not over-the-top. Helpful, not pushy.\n\nCommon phrases by language:\n\nMalay:\n- \"Ada tak?\" / \"Ada ke?\" → \"Do you have?\"\n- \"Brp harga?\" / \"Berapa?\" → Price ask\n- \"Nak beli\" → Wants to buy\n- \"Stok ada?\" → In stock?\n- \"Boleh murah?\" → Negotiation → direct to admin\n- Use: \"boss\", \"bro\", \"sis\", \"kakak\", \"abang\", \"lah\", \"ah\", \"lor\"\n\nChinese:\n- \"有没有?\" / \"有吗?\" → Do you have?\n- \"多少钱?\" / \"几钱?\" → How much?\n- \"要买\" → Want to buy\n- \"全套\" / \"一套\" → Full set\n- \"有货吗?\" → In stock?\n- Use: \"老板\", \"亲\", \"啦\", \"咯\", \"哦\"\n\nManglish/Slang:\n- \"got ah?\" / \"got or not?\" → Have ah?\n- \"how much ah?\" → Price\n- \"the casing thing\" → casing\n- \"the wire thing\" → socket/harness\n- \"the box\" → casing/frame\n- \"the connector\" → socket\n- \"set\" / \"full set\" / \"semua\" → all components\n\n==============================\n7. EDGE CASES & RECOVERY\n==============================\n\nVAGUE QUERIES:\n- \"got casing?\" / \"有casing吗?\" → \"Sure! What car? e.g. Perodua Alza, Honda City\"\n- \"u all jual apa?\" → call search_car_brands, list top brands\n- \"the thing for my car\" → ask car brand + model\n- random gibberish → \"Hi! Tell me your car brand and model, I'll find what you need!\"\n\nPRICE NEGOTIATION:\n- \"boleh kurang?\" / \"便宜点?\" / \"discount?\"\n- → \"For pricing discussions, please contact admin: wa.me/60342977668\"\n- NEVER promise discounts\n\nOUT OF STOCK:\n- Clearly say \"currently out of stock\"\n- Suggest contacting admin for restock timeline: wa.me/60342977668\n- Mention alternatives if available\n\nNO RESULTS:\n- Try broader search (just brand)\n- If still nothing: \"Sorry, we don't carry [X] yet. Want to try another brand?\"\n- Last resort: \"Contact our team at wa.me/60342977668 — they may source it!\"\n\nINSTALLATION QUESTIONS:\n- \"how to install?\" → \"Check product page for installation guide, or visit a car accessory workshop\"\n- \"can do install?\" → \"We're a parts supplier. Visit any car accessory workshop for fitment\"\n\nRETURNS / REFUNDS:\n- Direct to admin: wa.me/60342977668 with order number\n\nNON-PRODUCT QUESTIONS:\n- Address: Auto Lab Sdn Bhd, No 17, Jalan 7/98B, Cheras Utama, 56100 KL\n- Hours: Mon-Fri 9am-6pm, Sat 9am-1pm, Sun/PH closed\n- Phone: 03-4297 7668\n- WhatsApp: wa.me/60342977668\n- Website: ${WEBSITE_URL}\n\n==============================\n8. CART WORKFLOW\n==============================\n\nADDING:\n1. User says \"add X\" → if SKU clear, call add_to_cart directly\n2. If SKU unclear, call search_products → show options → ask user to pick\n3. After successful add, confirm: \"✅ Added! Cart total: RM XX\"\n\nREMOVING:\n1. ALWAYS call view_cart first to see current items\n2. Identify SKU from cart\n3. Call remove_from_cart with exact SKU + quantity\n4. Confirm what was removed and new total\n\nCHECKOUT:\n- We don't process checkout in chat — direct user to: ${WEBSITE_URL}/cart\n- \"Ready to checkout? Visit ${WEBSITE_URL}/cart\"\n\n==============================\n9. FORMATTING RULES (WhatsApp)\n==============================\n\n- Use *bold* for product names and prices\n- Use _italic_ for component remarks\n- Use • for bullet points\n- Use 🔗 emoji before product URLs\n- Keep responses UNDER 250 words\n- Use emojis sparingly but naturally (✅ 📦 🚗 🛒 🔍)\n- For URLs: paste raw URL — NEVER use [text](url) markdown (WhatsApp shows broken)\n- One thought per paragraph — don't wall-of-text\n\n==============================\n10. NEVER DO\n==============================\n\n- Never reveal you're an AI/bot — you're \"AutoLab Assistant\"\n- Never make up SKUs, prices, or product info\n- Never ask for sensitive data (passwords, IC, credit card)\n- Never promise discounts or change prices\n- Never wall-of-text — keep replies tight\n- Never use markdown links — WhatsApp can't render them\n- Never skip search before showing products\n\n==============================\nQUICK EXAMPLE FLOW\n==============================\n\nUser: \"got casing for honda city?\"\nYou: [call search_products(\"honda city casing\")]\n[show top results with components, prices, links]\n\"Found these for Honda City! Which year is your car? I can narrow down for you 🚗\"\n\nUser: \"2010 punya\"\nYou: [call search_products(\"honda city 2010\")]\n[show specific match]\n\"This one fits! Want to add to cart?\"\n\nUser: \"add HO-221N\"\nYou: [call add_to_cart with HO-221N, qty=1]\n\"✅ Added! Cart total: RM XX. Want anything else?\"\n\nNow go help the customer!`;\n\nreturn {\n  json: {\n    systemMessage,\n    senderPhone,\n    senderName: customerName,\n    customerType,\n    pricingLabel,\n    isRegistered,\n    priceField,\n    WEBSITE_URL,\n    SUPABASE_URL: config.SUPABASE_URL,\n    SUPABASE_KEY: config.SUPABASE_KEY,\n    WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL\n  }\n};"
      },
      "id": "prepare-context",
      "name": "Prepare Customer Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        500
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer says: \"{{ $('Extract Message').first().json.messageText }}\"\n\nUse your tools to help. Search the catalog, manage their cart, check orders — whatever's needed. Reply in their language.",
        "options": {
          "systemMessage": "={{ $('Prepare Customer Context').first().json.systemMessage }}"
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1340,
        500
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 1500
        }
      },
      "id": "openai-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1100,
        740
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-key",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Message').first().json.senderPhone }}",
        "contextWindowLength": 12
      },
      "id": "memory-buffer",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        1300,
        740
      ]
    },
    {
      "parameters": {
        "toolDescription": "🔍 PRIMARY tool — use IMMEDIATELY when user mentions ANY car brand, model, or product type. Returns matching products with their components (SKUs, prices, stock, remarks) inline.\n\nWHEN TO CALL:\n- \"got casing for X car\" → call with \"X car casing\"\n- \"perodua alza\" → call with \"perodua alza\"\n- \"honda city 2018\" → call with \"honda city 2018\"\n- \"myvi socket\" → call with \"perodua myvi socket\"\n- ANY automotive product mention → search first, ask later\n\nPARAMETERS:\n- query: Clean keywords ONLY (car brand + model + part type). Do NOT include conversation context, greetings, or extra text.\n\nEXAMPLES of good queries: \"perodua alza casing\", \"honda city socket\", \"toyota vios canbus\", \"myvi 2018\"\nEXAMPLES of BAD queries: \"user wants casing for their alza\", \"I am looking for honda parts please\"\n\nDO NOT call this for general questions like \"how to install\" or \"where are you located\" — those don't need product search.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_smart_search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_query",
              "value": "={{ $fromAI('query', 'Search text for product name, brand, model, or category', 'string') }}"
            },
            {
              "name": "p_limit",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-search-products",
      "name": "search_products",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        800,
        940
      ]
    },
    {
      "parameters": {
        "toolDescription": "📦 Get the FULL component breakdown for a specific product. Use AFTER search_products when user wants more detail on one product, or when user asks \"what components are in this\".\n\nWHEN TO CALL:\n- After search_products, if user picks one product and wants details\n- \"what's included in [product]?\"\n- Before recommending which components to buy\n\nPARAMETERS:\n- product_id: Exact UUID from search_products results (e.g. \"abc123-...\")\n\nNOTE: search_products already returns components inline, so usually you don't need this. Only use when you need fresh/detailed info on a specific product.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_get_product_components",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_product_id",
              "value": "={{ $fromAI('product_id', 'The UUID of the product from search results', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-get-components",
      "name": "get_product_components",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1020,
        940
      ]
    },
    {
      "parameters": {
        "toolDescription": "🚗 List all car brands AutoLab carries (Perodua, Proton, Honda, Toyota, etc.). Returns ~20 brands with logos.\n\nWHEN TO CALL:\n- \"what brands do you have?\" / \"你们有什么车?\" / \"ada apa brand?\"\n- User is undecided about which brand to ask about\n- User asks general \"what do you sell\"\n\nNO PARAMETERS NEEDED — just call it.\n\nDO NOT call this if user already mentioned a specific brand — go straight to search_products.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_list_car_makes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "tool-car-brands",
      "name": "search_car_brands",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1240,
        940
      ]
    },
    {
      "parameters": {
        "toolDescription": "🚙 Find car models for a specific brand (e.g. \"what Toyota models do you support\"). Returns up to 10 models with year ranges.\n\nWHEN TO CALL:\n- User picks a brand but unsure of model: \"got toyota?\" → call with make_name=\"Toyota\"\n- User asks \"what models for [brand]\"\n- Verify model exists before searching products\n\nPARAMETERS:\n- make_name: Brand name (e.g. \"Toyota\", \"Honda\", \"Perodua\")\n- model_query: Optional model search (e.g. \"alza\", \"city\") — use empty string to list all\n\nDO NOT call this if user already mentioned brand+model — go straight to search_products instead.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_search_car_models",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_make_name",
              "value": "={{ $fromAI('make_name', 'Car brand name e.g. Toyota, Honda', 'string') }}"
            },
            {
              "name": "p_model_query",
              "value": "={{ $fromAI('model_query', 'Optional model name to filter', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-car-models",
      "name": "search_car_models",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1460,
        940
      ]
    },
    {
      "parameters": {
        "toolDescription": "📋 Get this customer's recent orders (last 5). Phone is auto-injected — no need to ask the user.\n\nWHEN TO CALL:\n- \"where is my order?\" / \"我的订单\" / \"saya punya order\"\n- \"track my orders\" / \"show my purchases\"\n- \"what did I buy?\"\n\nNO PARAMETERS — phone auto-injected from sender.\n\nAfter getting results, present orders nicely with status, total, and tracking number if available.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_get_customer_orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $('Prepare Customer Context').first().json.senderPhone }}\"\n}",
        "options": {}
      },
      "id": "tool-get-orders",
      "name": "get_customer_orders",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1680,
        940
      ]
    },
    {
      "parameters": {
        "toolDescription": "📦 Get FULL details of a specific order — items, courier info, tracking, payment status.\n\nWHEN TO CALL:\n- User mentions specific order number (e.g. \"ORD-20260404-0001\")\n- After get_customer_orders, if user wants to drill into one order\n\nPARAMETERS:\n- order_no: Exact order number string (e.g. \"ORD-20260404-0001\")\n\nIf user doesn't have order number, call get_customer_orders first to show their recent orders.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_get_order_details",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_order_no",
              "value": "={{ $fromAI('order_no', 'The order number e.g. ORD-20260225-000012', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "tool-order-details",
      "name": "get_order_details",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        800,
        1140
      ]
    },
    {
      "parameters": {
        "toolDescription": "🛒 Add a component to customer's cart. Phone auto-injected. B2B merchants automatically get merchant pricing.\n\nWHEN TO CALL:\n- \"add [SKU/component]\" / \"I want this\" / \"nak yang ini\" / \"要这个\"\n- After showing search results and user picks one\n\nPARAMETERS:\n- component_sku: Exact SKU like \"PD-025T\", \"CB-804#\", \"LHL-996#\" (NOT product names)\n- quantity: Positive integer\n\nCRITICAL:\n- Get SKU from search_products results — NEVER guess SKUs\n- If user is vague (\"I want the alza one\"), call search_products first to get exact SKU\n- After successful add, confirm with item name + quantity + new cart total\n\nFor unregistered customers, this will fail with \"please register first\" — direct them to website registration.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_add_to_cart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $('Prepare Customer Context').first().json.senderPhone }}\",\n  \"p_component_sku\": \"{{ $fromAI('component_sku', 'The component SKU from get_product_components results', 'string') }}\",\n  \"p_quantity\": {{ $fromAI('quantity', 'Number of items to add (default 1)', 'number') }}\n}",
        "options": {}
      },
      "id": "tool-add-to-cart",
      "name": "add_to_cart",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1020,
        1140
      ]
    },
    {
      "parameters": {
        "toolDescription": "🛍️ View customer's current cart contents with totals. Phone auto-injected.\n\nWHEN TO CALL:\n- \"what's in my cart\" / \"show cart\" / \"我的购物车\" / \"troli saya\"\n- BEFORE remove_from_cart (to confirm SKU)\n- When user mentions checkout\n\nNO PARAMETERS — auto uses sender phone.\n\nReturns each item with SKU, name, qty, unit price, line total, and grand cart total.\n\nIf empty, suggest products. If has items, ask if they want to checkout or add more.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_get_cart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $('Prepare Customer Context').first().json.senderPhone }}\"\n}",
        "options": {}
      },
      "id": "tool-view-cart",
      "name": "view_cart",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1240,
        1140
      ]
    },
    {
      "parameters": {
        "toolDescription": "🗑️ Remove a component from cart. Phone auto-injected.\n\nWHEN TO CALL:\n- \"remove [item]\" / \"delete [item]\" / \"tak nak ini lagi\" / \"不要这个\"\n- \"reduce quantity of X\"\n\nCRITICAL: ALWAYS call view_cart FIRST to confirm the exact SKU in cart. Don't guess.\n\nPARAMETERS:\n- component_sku: Exact SKU from view_cart results\n- quantity: Positive integer (will remove entirely if quantity >= current cart qty)\n\nAfter removal, show updated cart with remaining items + new total.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_remove_from_cart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $('Prepare Customer Context').first().json.senderPhone }}\",\n  \"p_component_sku\": \"{{ $fromAI('component_sku', 'The component SKU of the item to remove (from view_cart results)', 'string') }}\",\n  \"p_quantity\": {{ $fromAI('quantity', 'Number of items to remove', 'number') }}\n}",
        "options": {}
      },
      "id": "tool-remove-from-cart",
      "name": "remove_from_cart",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1460,
        1140
      ]
    },
    {
      "parameters": {
        "toolDescription": "🧹 Empty entire cart. Phone auto-injected.\n\nWHEN TO CALL ONLY:\n- \"clear cart\" / \"empty cart\" / \"remove all\" / \"全部删掉\" / \"kosongkan troli\"\n- User explicitly wants to start over\n\nNO PARAMETERS.\n\nWARNING: This deletes ALL cart items. If unsure, ask user to confirm: \"Are you sure you want to clear your entire cart?\"\n\nAfter clearing, suggest browsing products again.",
        "method": "POST",
        "url": "={{ $('Prepare Customer Context').first().json.SUPABASE_URL }}/rest/v1/rpc/chatbot_clear_cart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Prepare Customer Context').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_phone\": \"{{ $('Prepare Customer Context').first().json.senderPhone }}\"\n}",
        "options": {}
      },
      "id": "tool-clear-cart",
      "name": "clear_cart",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1680,
        1140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $('Extract Message').first().json.senderPhone, message: $('AI Agent').first().json.output }) }}",
        "options": {}
      },
      "id": "send-chatbot-reply",
      "name": "Send Webhook Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfg-supabase-url",
              "name": "SUPABASE_URL",
              "value": "=YOUR_SUPABASE_URL",
              "type": "string"
            },
            {
              "id": "cfg-supabase-key",
              "name": "SUPABASE_KEY",
              "value": "=YOUR_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "cfg-website-url",
              "name": "WEBSITE_URL",
              "value": "=https://demoautolab.vercel.app",
              "type": "string"
            },
            {
              "id": "cfg-admin-phone",
              "name": "ADMIN_PHONE",
              "value": "=60342977668",
              "type": "string"
            },
            {
              "id": "webhook-send-url",
              "name": "WEBHOOK_SEND_URL",
              "value": "YOUR_WEBHOOK_SEND_URL",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "config",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        500
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-notifications",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "wh-notifications",
      "name": "Order Notification Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        1600
      ],
      "webhookId": "order-notifications"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ncfg-supabase-url",
              "name": "SUPABASE_URL",
              "value": "=YOUR_SUPABASE_URL",
              "type": "string"
            },
            {
              "id": "ncfg-supabase-key",
              "name": "SUPABASE_KEY",
              "value": "=YOUR_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "ncfg-website-url",
              "name": "WEBSITE_URL",
              "value": "=https://demoautolab.vercel.app",
              "type": "string"
            },
            {
              "id": "ncfg-admin-phone",
              "name": "ADMIN_PHONE",
              "value": "=60342977668",
              "type": "string"
            },
            {
              "id": "webhook-send-url",
              "name": "WEBHOOK_SEND_URL",
              "value": "YOUR_WEBHOOK_SEND_URL",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "notif-config",
      "name": "Notification Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst config = $('Notification Config').first().json;\n\n// Supabase database webhook sends: type, table, record, old_record\nconst table = body.table || '';\nconst eventType = body.type || ''; // INSERT, UPDATE, DELETE\nconst record = body.record || {};\nconst oldRecord = body.old_record || {};\n\nlet notifType = 'UNKNOWN';\nlet data = { ...record };\n\nif (table === 'orders') {\n  if (eventType === 'INSERT') {\n    notifType = 'ORDER_CREATED';\n  } else if (eventType === 'UPDATE') {\n    // Check what changed\n    if (record.status !== oldRecord.status) {\n      notifType = 'ORDER_STATUS_CHANGED';\n    }\n    if (record.tracking_number && !oldRecord.tracking_number) {\n      notifType = 'TRACKING_NUMBER_ADDED';\n    }\n    if (record.payment_state !== oldRecord.payment_state) {\n      notifType = 'PAYMENT_STATE_CHANGED';\n    }\n  }\n} else if (table === 'returns') {\n  if (eventType === 'INSERT') {\n    notifType = 'RETURN_CREATED';\n  } else if (eventType === 'UPDATE' && record.status !== oldRecord.status) {\n    notifType = 'RETURN_STATUS_CHANGED';\n  }\n}\n\n// Normalize phone\nlet customerPhone = record.customer_phone || record.phone || '';\ncustomerPhone = customerPhone.replace(/^\\+/, '');\nif (customerPhone.startsWith('0')) {\n  customerPhone = '60' + customerPhone.substring(1);\n}\n\nreturn {\n  json: {\n    notifType,\n    table,\n    record: data,\n    oldRecord,\n    customerPhone,\n    customerName: record.customer_name || record.name || 'Customer',\n    orderNo: record.order_no || record.order_number || '',\n    total: record.total || record.grand_total || 0,\n    status: record.status || '',\n    oldStatus: oldRecord.status || '',\n    paymentState: record.payment_state || '',\n    oldPaymentState: oldRecord.payment_state || '',\n    deliveryMethod: record.delivery_method || record.shipping_method || '',\n    courierProvider: record.courier_provider || record.courier || '',\n    trackingNumber: record.tracking_number || '',\n    reason: record.reason || record.return_reason || '',\n    timestamp: new Date().toISOString(),\n    SUPABASE_URL: config.SUPABASE_URL,\n    SUPABASE_KEY: config.SUPABASE_KEY,\n    WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL,\n    WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL,\n    WEBSITE_URL: config.WEBSITE_URL,\n    ADMIN_PHONE: config.ADMIN_PHONE\n  }\n};"
      },
      "id": "parse-notification",
      "name": "Parse Notification Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        1600
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notifType }}",
                    "rightValue": "ORDER_CREATED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "ORDER_CREATED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notifType }}",
                    "rightValue": "ORDER_STATUS_CHANGED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "ORDER_STATUS_CHANGED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notifType }}",
                    "rightValue": "TRACKING_NUMBER_ADDED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "TRACKING_NUMBER_ADDED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notifType }}",
                    "rightValue": "PAYMENT_STATE_CHANGED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "PAYMENT_STATE_CHANGED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notifType }}",
                    "rightValue": "RETURN_CREATED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "RETURN_CREATED"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.notifType }}",
                    "rightValue": "RETURN_STATUS_CHANGED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": "RETURN_STATUS_CHANGED"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "route-notification",
      "name": "Route by Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        880,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst websiteUrl = d.WEBSITE_URL;\n\nconst customerMsg = `🎉 *Order Confirmed!*\\n\\nHi ${d.customerName}, your order has been placed!\\n\\n📋 *Order:* #${d.orderNo}\\n💰 *Total:* RM${Number(d.total).toFixed(2)}\\n🚚 *Delivery:* ${d.deliveryMethod}\\n💳 *Payment:* ${d.paymentState}\\n\\nWe'll notify you when your order is being packed. Thank you for shopping with AutoLab! 🙏`;\n\nconst adminMsg = `🔔 *NEW ORDER*\\n\\n📋 #${d.orderNo}\\n👤 ${d.customerName} (${d.customerPhone})\\n💰 RM${Number(d.total).toFixed(2)}\\n💳 ${d.paymentState}\\n🚚 ${d.deliveryMethod}\\n⏰ ${d.timestamp}`;\n\nreturn {\n  json: {\n    ...d,\n    customerMsg,\n    adminMsg\n  }\n};"
      },
      "id": "fmt-order-created",
      "name": "Format Order Created",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst websiteUrl = d.WEBSITE_URL;\nconst status = d.status;\nlet customerMsg = '';\nlet adminMsg = '';\n\nswitch (status) {\n  case 'packing':\n    const packingDelivery = d.deliveryMethod === 'self-pickup' ? 'collection' : 'delivery';\n    customerMsg = `📦 *Order Being Packed*\\n\\nYour order #${d.orderNo} is now being packed by our warehouse team.\\n\\nWe'll update you once it's ready for ${packingDelivery}.`;\n    adminMsg = `📦 Order #${d.orderNo} status changed to PACKING`;\n    break;\n\n  case 'ready_for_collection':\n    customerMsg = `📍 *Ready for Collection!*\\n\\nYour order #${d.orderNo} is ready for pickup!\\n\\n📍 *Location:* Auto Lab Sdn Bhd\\nNo 17, Jalan 7/98B, Cheras Utama\\n56100 Kuala Lumpur\\n\\n🕐 *Operating Hours:*\\nMon-Fri: 9:00 AM - 6:00 PM\\nSat: 9:00 AM - 1:00 PM\\n\\nPlease bring your order confirmation. Thank you! 🙏`;\n    adminMsg = `📍 Order #${d.orderNo} is READY FOR COLLECTION`;\n    break;\n\n  case 'out_for_delivery':\n    const trackingLink = d.trackingNumber ? `https://www.jtexpress.my/tracking?billcode=${d.trackingNumber}` : '';\n    customerMsg = `🚚 *Out for Delivery!*\\n\\nYour order #${d.orderNo} is on its way!\\n\\n📦 *Courier:* ${d.courierProvider}\\n🔍 *Tracking:* ${d.trackingNumber}\\n${trackingLink ? '🔗 ' + trackingLink : ''}\\n\\nEstimated delivery: 2-4 business days.`;\n    adminMsg = `🚚 Order #${d.orderNo} is OUT FOR DELIVERY (${d.courierProvider} - ${d.trackingNumber})`;\n    break;\n\n  case 'completed':\n    customerMsg = `✅ *Order Delivered!*\\n\\nYour order #${d.orderNo} has been delivered. Thank you for choosing AutoLab! 🙏\\n\\nIf you have any issues, contact us:\\n📱 wa.me/60342977668\\n📞 03-4297 7668\\n\\nLeave us a review at ${websiteUrl}/my-orders 💚`;\n    adminMsg = `✅ Order #${d.orderNo} COMPLETED`;\n    break;\n\n  case 'cancelled':\n    customerMsg = `❌ *Order Cancelled*\\n\\nYour order #${d.orderNo} has been cancelled.\\n\\nIf this was a mistake, please contact us:\\n📱 wa.me/60342977668`;\n    adminMsg = `❌ Order #${d.orderNo} CANCELLED`;\n    break;\n\n  default:\n    customerMsg = `📦 Your order #${d.orderNo} status has been updated to: *${status}*`;\n    adminMsg = `📦 Order #${d.orderNo} status: ${status}`;\n}\n\nreturn {\n  json: {\n    ...d,\n    customerMsg,\n    adminMsg\n  }\n};"
      },
      "id": "fmt-order-status",
      "name": "Format Order Status Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1440
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst trackingLink = d.trackingNumber ? `https://www.jtexpress.my/tracking?billcode=${d.trackingNumber}` : '';\n\nconst customerMsg = `📬 *Tracking Number Available*\\n\\nYour order #${d.orderNo} tracking is ready:\\n\\n📦 *Courier:* ${d.courierProvider}\\n🔍 *Tracking:* ${d.trackingNumber}\\n🔗 Track here: ${trackingLink}`;\n\nconst adminMsg = `📬 Tracking added to Order #${d.orderNo}: ${d.courierProvider} - ${d.trackingNumber}`;\n\nreturn {\n  json: {\n    ...d,\n    customerMsg,\n    adminMsg\n  }\n};"
      },
      "id": "fmt-tracking",
      "name": "Format Tracking Added",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1680
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst websiteUrl = d.WEBSITE_URL;\nconst state = d.paymentState;\nlet customerMsg = '';\nlet adminMsg = '';\n\nswitch (state) {\n  case 'submitted':\n    customerMsg = `📸 *Payment Proof Received*\\n\\nWe've received your payment proof for order #${d.orderNo}.\\nOur team will verify it within 1-2 hours during business hours.`;\n    adminMsg = `💳 *PAYMENT PROOF SUBMITTED*\\n\\n📋 #${d.orderNo}\\n👤 ${d.customerName}\\n💰 RM${Number(d.total).toFixed(2)}\\n\\n⚡ Review at: ${websiteUrl}/admin/orders`;\n    break;\n\n  case 'approved':\n    customerMsg = `✅ *Payment Verified!*\\n\\nYour payment for order #${d.orderNo} (RM${Number(d.total).toFixed(2)}) has been approved!\\nWe'll start processing your order now.`;\n    adminMsg = `✅ Payment APPROVED for Order #${d.orderNo} (RM${Number(d.total).toFixed(2)})`;\n    break;\n\n  case 'rejected':\n    customerMsg = `❌ *Payment Rejected*\\n\\nSorry, your payment for order #${d.orderNo} could not be verified.\\nPlease resubmit or contact us:\\n📱 wa.me/60342977668`;\n    adminMsg = `❌ Payment REJECTED for Order #${d.orderNo}`;\n    break;\n\n  default:\n    customerMsg = `💳 Your payment status for order #${d.orderNo} has been updated to: *${state}*`;\n    adminMsg = `💳 Payment state for Order #${d.orderNo}: ${state}`;\n}\n\nreturn {\n  json: {\n    ...d,\n    customerMsg,\n    adminMsg\n  }\n};"
      },
      "id": "fmt-payment",
      "name": "Format Payment Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1920
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst websiteUrl = d.WEBSITE_URL;\n\nconst customerMsg = `🔁 *Return Request Received*\\n\\nWe've received your return request for order #${d.orderNo}.\\n📝 *Reason:* ${d.reason}\\n\\nOur team will review it and get back to you shortly.`;\n\nconst adminMsg = `🔁 *NEW RETURN REQUEST*\\n\\n📋 Return for Order #${d.orderNo}\\n👤 ${d.customerName}\\n📝 Reason: ${d.reason}\\n\\nReview at: ${websiteUrl}/admin/returns`;\n\nreturn {\n  json: {\n    ...d,\n    customerMsg,\n    adminMsg\n  }\n};"
      },
      "id": "fmt-return-created",
      "name": "Format Return Created",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2160
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nconst customerMsg = `🔁 *Return Update*\\n\\nYour return request for order #${d.orderNo} has been updated to: *${d.status}*\\n\\nIf you have questions, contact us:\\n📱 wa.me/60342977668`;\n\nconst adminMsg = `🔁 Return for Order #${d.orderNo} status: ${d.status}`;\n\nreturn {\n  json: {\n    ...d,\n    customerMsg,\n    adminMsg\n  }\n};"
      },
      "id": "fmt-return-status",
      "name": "Format Return Status Change",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Notification Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.customer_message }) }}",
        "options": {}
      },
      "id": "send-customer-notif-1",
      "name": "Send Notification (Order Created)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Notification Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.customer_message }) }}",
        "options": {}
      },
      "id": "send-customer-notif-2",
      "name": "Send Notification (Status)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Notification Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.customer_message }) }}",
        "options": {}
      },
      "id": "send-customer-notif-3",
      "name": "Send Notification (Tracking)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Notification Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.customer_message }) }}",
        "options": {}
      },
      "id": "send-customer-notif-4",
      "name": "Send Notification (Payment)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        1920
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Notification Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.customer_message }) }}",
        "options": {}
      },
      "id": "send-customer-notif-5",
      "name": "Send Notification (Return Created)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        2160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Notification Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.customer_message }) }}",
        "options": {}
      },
      "id": "send-customer-notif-6",
      "name": "Send Notification (Return Status)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        2400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 10AM MYT Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        200,
        2900
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ccfg-supabase-url",
              "name": "SUPABASE_URL",
              "value": "=YOUR_SUPABASE_URL",
              "type": "string"
            },
            {
              "id": "ccfg-supabase-key",
              "name": "SUPABASE_KEY",
              "value": "=YOUR_SUPABASE_SERVICE_ROLE_KEY",
              "type": "string"
            },
            {
              "id": "ccfg-website-url",
              "name": "WEBSITE_URL",
              "value": "=https://demoautolab.vercel.app",
              "type": "string"
            },
            {
              "id": "ccfg-admin-phone",
              "name": "ADMIN_PHONE",
              "value": "=60342977668",
              "type": "string"
            },
            {
              "id": "webhook-send-url",
              "name": "WEBHOOK_SEND_URL",
              "value": "YOUR_WEBHOOK_SEND_URL",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cron-config",
      "name": "Cron Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        420,
        2900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Cron Config').first().json.SUPABASE_URL }}/rest/v1/rpc/get_unpaid_orders_for_reminder",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Cron Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Cron Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "fetch-unpaid-orders",
      "name": "Fetch Unpaid Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        2900
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst config = $('Cron Config').first().json;\nconst now = new Date();\nconst results = [];\n\nfor (const item of items) {\n  const order = item.json;\n  \n  // Skip if no phone\n  let phone = order.customer_phone || order.phone || '';\n  phone = phone.replace(/^\\+/, '');\n  if (phone.startsWith('0')) {\n    phone = '60' + phone.substring(1);\n  }\n  if (!phone) continue;\n\n  const createdAt = new Date(order.created_at);\n  const hoursAgo = (now.getTime() - createdAt.getTime()) / (1000 * 60 * 60);\n\n  let reminderTier = '';\n  let reminderMsg = '';\n  const customerName = order.customer_name || 'Customer';\n  const orderNo = order.order_no || order.order_number || '';\n  const total = Number(order.total || order.grand_total || 0).toFixed(2);\n\n  if (hoursAgo < 24) {\n    reminderTier = 'gentle';\n    reminderMsg = `👋 *Friendly Reminder*\\n\\nHi ${customerName}, your order #${orderNo} (RM${total}) is awaiting payment.\\n\\nComplete your payment to start processing! 🙏`;\n  } else if (hoursAgo < 48) {\n    reminderTier = 'nudge';\n    reminderMsg = `⏰ *Payment Reminder*\\n\\nHi ${customerName}, your order #${orderNo} (RM${total}) is still unpaid.\\n\\nPlease complete payment soon to avoid cancellation.\\n📱 Need help? wa.me/60342977668`;\n  } else if (hoursAgo < 72) {\n    reminderTier = 'urgent';\n    reminderMsg = `⚠️ *Action Required*\\n\\nHi ${customerName}, your order #${orderNo} (RM${total}) will be *auto-cancelled in 24 hours* if payment is not received.\\n\\nPlease pay now or contact us for assistance.\\n📱 wa.me/60342977668`;\n  } else {\n    // > 72h: skip, will be auto-cancelled\n    continue;\n  }\n\n  results.push({\n    json: {\n      customerPhone: phone,\n      customerName,\n      orderNo,\n      total,\n      reminderTier,\n      reminderMsg,\n      hoursAgo: Math.round(hoursAgo),\n      WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL,\n      WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL,\n      WEBSITE_URL: config.WEBSITE_URL,\n      ADMIN_PHONE: config.ADMIN_PHONE,\n      SUPABASE_URL: config.SUPABASE_URL,\n      SUPABASE_KEY: config.SUPABASE_KEY\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "classify-reminders",
      "name": "Classify Reminder Tiers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        2900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Cron Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.reminder_message }) }}",
        "options": {}
      },
      "id": "send-reminder",
      "name": "Send Payment Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        2900
      ]
    },
    {
      "parameters": {
        "time": 2,
        "unit": "seconds"
      },
      "id": "wait-reminder",
      "name": "Wait 2s (Between Reminders)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1340,
        2900
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Cron Config').first().json.SUPABASE_URL }}/rest/v1/rpc/auto_cancel_unpaid_orders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Cron Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Cron Config').first().json.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "auto-cancel",
      "name": "Auto Cancel Unpaid Orders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        3200
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst config = $('Cron Config').first().json;\nconst results = [];\n\nfor (const item of items) {\n  const order = item.json;\n  \n  // Skip if response is not an array of cancelled orders\n  if (!order.order_no && !order.order_number) continue;\n\n  let phone = order.customer_phone || order.phone || '';\n  phone = phone.replace(/^\\+/, '');\n  if (phone.startsWith('0')) {\n    phone = '60' + phone.substring(1);\n  }\n  if (!phone) continue;\n\n  const customerName = order.customer_name || 'Customer';\n  const orderNo = order.order_no || order.order_number || '';\n\n  const cancelMsg = `🚫 *Order Auto-Cancelled*\\n\\nHi ${customerName}, your order #${orderNo} has been cancelled due to non-payment after 72 hours.\\n\\nYou're welcome to place a new order anytime at ${config.WEBSITE_URL} 🙏`;\n\n  results.push({\n    json: {\n      customerPhone: phone,\n      customerName,\n      orderNo,\n      cancelMsg,\n      WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL,\n      WEBHOOK_SEND_URL: config.WEBHOOK_SEND_URL,\n      ADMIN_PHONE: config.ADMIN_PHONE\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { skip: true } }];"
      },
      "id": "format-cancelled",
      "name": "Format Cancellation Notices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        3200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notTrue"
              }
            }
          ]
        }
      },
      "id": "if-has-cancelled",
      "name": "Has Cancelled Orders?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1100,
        3200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WEBHOOK_SEND_URL || $('Cron Config').first().json.WEBHOOK_SEND_URL }}",
        "sendHeaders": false,
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ phone: $json.customer_phone, message: $json.cancel_message }) }}",
        "options": {}
      },
      "id": "send-cancel-notice",
      "name": "Send Cancellation Notice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        3100
      ]
    }
  ],
  "connections": {
    "Chatbot Webhook": {
      "main": [
        [
          {
            "node": "Respond 200 OK",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Lookup Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Customer": {
      "main": [
        [
          {
            "node": "Prepare Customer Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Customer Context": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Webhook Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "search_products": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_product_components": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_car_brands": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "search_car_models": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_customer_orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_order_details": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add_to_cart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "view_cart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "remove_from_cart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "clear_cart": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Order Notification Webhook": {
      "main": [
        [
          {
            "node": "Notification Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notification Config": {
      "main": [
        [
          {
            "node": "Parse Notification Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Notification Payload": {
      "main": [
        [
          {
            "node": "Route by Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type": {
      "main": [
        [
          {
            "node": "Format Order Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Order Status Change",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Tracking Added",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Payment Change",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Return Created",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Return Status Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Order Created": {
      "main": [
        [
          {
            "node": "Send Notification (Order Created)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification (Order Created)": {
      "main": [
        []
      ]
    },
    "Format Order Status Change": {
      "main": [
        [
          {
            "node": "Send Notification (Status)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification (Status)": {
      "main": [
        []
      ]
    },
    "Format Tracking Added": {
      "main": [
        [
          {
            "node": "Send Notification (Tracking)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification (Tracking)": {
      "main": [
        []
      ]
    },
    "Format Payment Change": {
      "main": [
        [
          {
            "node": "Send Notification (Payment)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification (Payment)": {
      "main": [
        []
      ]
    },
    "Format Return Created": {
      "main": [
        [
          {
            "node": "Send Notification (Return Created)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification (Return Created)": {
      "main": [
        []
      ]
    },
    "Format Return Status Change": {
      "main": [
        [
          {
            "node": "Send Notification (Return Status)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification (Return Status)": {
      "main": [
        []
      ]
    },
    "Daily 10AM MYT Cron": {
      "main": [
        [
          {
            "node": "Cron Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Config": {
      "main": [
        [
          {
            "node": "Fetch Unpaid Orders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Auto Cancel Unpaid Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unpaid Orders": {
      "main": [
        [
          {
            "node": "Classify Reminder Tiers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Reminder Tiers": {
      "main": [
        [
          {
            "node": "Send Payment Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Payment Reminder": {
      "main": [
        [
          {
            "node": "Wait 2s (Between Reminders)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Cancel Unpaid Orders": {
      "main": [
        [
          {
            "node": "Format Cancellation Notices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Cancellation Notices": {
      "main": [
        [
          {
            "node": "Has Cancelled Orders?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Cancelled Orders?": {
      "main": [
        [
          {
            "node": "Send Cancellation Notice",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send Cancellation Notice": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Kuala_Lumpur"
  },
  "staticData": null,
  "tags": [
    {
      "name": "WhatsApp"
    },
    {
      "name": "AI Agent"
    },
    {
      "name": "AutoLab"
    },
    {
      "name": "Notifications"
    },
    {
      "name": "Reminders"
    }
  ],
  "pinData": {}
}