n8n/Autolab Version Can Add to Cart.json
{
  "name": "Autolab Version Can Add to Cart",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Enhanced Message Preprocessing Node - Fixed for Your Input Structure\nconst inputData = $input.all();\n\nconsole.log('=== Message Preprocessing Debug ===');\nconsole.log('Input data length:', inputData.length);\nconsole.log('Input data:', JSON.stringify(inputData, null, 2));\n\n// ✅ Function to replace localhost URLs\nfunction replaceMediaUrl(url) {\n    if (url && url.includes('http://localhost:9000')) {\n        return url.replace('http://localhost:9000', 'https://bot.creatiqai.com');\n    }\n    return url;\n}\n\n// Phone number normalization function for database\nfunction normalizePhoneNumber(phone) {\n    if (!phone) return null;\n\n    let cleanPhone = phone.toString().replace(/\\D/g, '');\n    if (cleanPhone.startsWith('60')) {\n        cleanPhone = cleanPhone.substring(2);\n    }\n    if (cleanPhone.startsWith('0')) {\n        cleanPhone = cleanPhone.substring(1);\n    }\n    return cleanPhone;\n}\n\n// Phone number formatting function for WhatsApp\nfunction formatPhoneForWhatsApp(phone) {\n    if (!phone) return null;\n    let cleanPhone = phone.toString().replace(/\\D/g, '');\n    if (!cleanPhone.startsWith('60')) {\n        if (cleanPhone.startsWith('0')) {\n            cleanPhone = cleanPhone.substring(1);\n        }\n        cleanPhone = '60' + cleanPhone;\n    }\n    return cleanPhone;\n}\n\nfor (const item of inputData) {\n    try {\n        const body = item.json;\n        console.log('Processing item:', JSON.stringify(body, null, 2));\n\n        let userMessage = '';\n        let userPhone = '';\n        let messageType = 'text';\n        let mediaType = 'text';\n        let mediaUrl = null;\n        let mediaId = null;\n        let mediaMimeType = null;\n        let isOrderNotification = false;\n        let isPaymentSubmission = false;\n        let isAdminVerification = false;\n        let isDirectWhatsAppSend = false;\n        let orderData = null;\n        let paymentData = null;\n        let adminData = null;\n        let directWhatsAppData = null;\n\n        // PRIMARY HANDLER: Chat Input with Session ID (Your main case)\n        if (body.chatInput !== undefined && body.sessionId) {\n            console.log('Processing chatInput case');\n            \n            userMessage = body.chatInput.trim();\n            userPhone = body.contact?.phone || body.contact?.name || '60123456789';\n            \n            // Handle media messages\n            if (body.isMediaMessage === true && body.media) {\n                console.log('Media message detected:', body.media);\n                \n                mediaType = body.media.type || body.messageType || 'media';\n                mediaUrl = replaceMediaUrl(body.media.url);\n                mediaMimeType = body.media.metadata?.mime_type || null;\n                messageType = body.messageType || mediaType;\n                \n                // Set appropriate message based on media type\n                if (mediaType === 'audio') {\n                    userMessage = 'Audio message - needs transcription';\n                } else if (mediaType === 'image') {\n                    userMessage = body.chatInput || 'Image search request';\n                } else if (mediaType === 'video') {\n                    userMessage = body.chatInput || 'Video message received';\n                } else if (mediaType === 'document') {\n                    userMessage = body.chatInput || 'Document received';\n                }\n                \n                console.log('Media processing result:', {\n                    mediaType,\n                    mediaUrl,\n                    userMessage\n                });\n            } else {\n                // Regular text message\n                messageType = 'text';\n                mediaType = 'text';\n                console.log('Regular text message');\n            }\n        }\n        // Check for Direct WhatsApp Send (highest priority for other message types)\n        else if (body.body && body.body.action === 'direct_whatsapp_send' && \n            (body.body.source === 'admin_approval' || body.body._metadata?.source === 'admin_approval_direct')) {\n            \n            isDirectWhatsAppSend = true;\n            messageType = 'direct_whatsapp_send';\n            mediaType = 'text';\n            \n            const messageBody = body.body.text?.body || '';\n            \n            directWhatsAppData = {\n                to: body.body.to,\n                type: body.body.type || 'text',\n                text: body.body.text,\n                orderId: body.body._metadata?.order_id,\n                approvedBy: body.body._metadata?.approved_by,\n                timestamp: body.body._metadata?.timestamp,\n                bypass_routing: body.body.bypass_routing\n            };\n            \n            userMessage = `Direct WhatsApp send from admin_approval. Message: ${messageBody.substring(0, 50)}... This is a direct WhatsApp message that should be sent immediately to customer.`;\n            userPhone = body.body.to || '60123456789';\n        }\n        // Check for Admin Verification\n        else if (body.body && (body.body._metadata?.source === 'admin_verification' || \n            (body.body.action && (body.body.action === 'verify' || body.body.action === 'reject') && body.body.orderId))) {\n            \n            isAdminVerification = true;\n            messageType = 'admin_verification';\n            mediaType = 'text';\n            \n            adminData = {\n                action: body.body.action,\n                orderId: body.body.orderId,\n                adminId: body.body.adminId,\n                paymentMethod: body.body.paymentMethod,\n                referenceNumber: body.body.referenceNumber,\n                notes: body.body.notes,\n                timestamp: body.body.timestamp,\n                adminName: body.body._metadata?.admin_name || 'Unknown Admin'\n            };\n            \n            if (body.body.action === 'verify') {\n                userMessage = `Admin verify payment for order ${body.body.orderId}. Admin ID: ${body.body.adminId}. Payment method: ${body.body.paymentMethod}. Reference: ${body.body.referenceNumber}. Notes: Payment verified by admin ${adminData.adminName}. This is an admin verification action from admin panel.`;\n            } else if (body.body.action === 'reject') {\n                userMessage = `Admin reject payment for order ${body.body.orderId}. This is an admin verification action.`;\n            }\n            \n            userPhone = body.body.customerPhone || '60123456789';\n        }\n        // Handle WhatsApp messages structure\n        else if (body.messages && body.messages[0]) {\n            const message = body.messages[0];\n            userPhone = message.from;\n\n            if (message.image) {\n                mediaType = 'image';\n                mediaId = message.image.id;\n                mediaMimeType = message.image.mime_type;\n                userMessage = message.image.caption || 'Image search request';\n                mediaUrl = replaceMediaUrl(message.image.url || `whatsapp://media/${mediaId}`);\n            }\n            else if (message.audio) {\n                mediaType = 'audio';\n                mediaId = message.audio.id;\n                mediaMimeType = message.audio.mime_type;\n                userMessage = 'Audio message - needs transcription';\n                mediaUrl = replaceMediaUrl(message.audio.url || `whatsapp://media/${mediaId}`);\n            }\n            else if (message.video) {\n                mediaType = 'video';\n                mediaId = message.video.id;\n                mediaMimeType = message.video.mime_type;\n                userMessage = message.video.caption || 'Video message received';\n                mediaUrl = replaceMediaUrl(message.video.url || `whatsapp://media/${mediaId}`);\n            }\n            else if (message.document) {\n                mediaType = 'document';\n                mediaId = message.document.id;\n                mediaMimeType = message.document.mime_type;\n                userMessage = message.document.caption || 'Document received';\n                mediaUrl = replaceMediaUrl(message.document.url || `whatsapp://media/${mediaId}`);\n            }\n            else if (message.text) {\n                userMessage = message.text.body;\n                messageType = 'text';\n                mediaType = 'text';\n            }\n            else if (message.interactive) {\n                userMessage = message.interactive.button_reply?.title || message.interactive.list_reply?.title || '';\n                messageType = 'interactive';\n                mediaType = 'text';\n            }\n\n            if (mediaType === 'text') {\n                userMessage = userMessage.trim().toLowerCase();\n            }\n        }\n        // Handle nested body structure\n        else if (body.body && body.body.messages && Array.isArray(body.body.messages) && body.body.messages[0]) {\n            const message = body.body.messages[0];\n            userPhone = message.from || '165230268';\n            \n            if (message.image) {\n                mediaType = 'image';\n                mediaId = message.image.id;\n                userMessage = message.image.caption || 'Image search request';\n            }\n            else if (message.audio) {\n                mediaType = 'audio';\n                mediaId = message.audio.id;\n                userMessage = 'Audio message - needs transcription';\n            }\n            else if (message.text && message.text.body) {\n                mediaType = 'text';\n                let messageBody = message.text.body;\n\n                if (messageBody.startsWith('ORDER_NOTIFICATION:')) {\n                    isOrderNotification = true;\n                    messageType = 'order_notification';\n                    try {\n                        const jsonStart = messageBody.indexOf('{');\n                        if (jsonStart !== -1) {\n                            const jsonData = messageBody.substring(jsonStart);\n                            orderData = JSON.parse(jsonData);\n                            userMessage = `New order notification for order ${orderData.orderId}.`;\n                        }\n                    } catch (error) {\n                        console.error('Error parsing order notification:', error);\n                        userMessage = 'Error processing order notification';\n                    }\n                }\n                else if (messageBody.startsWith('PAYMENT_SUBMITTED:')) {\n                    isPaymentSubmission = true;\n                    messageType = 'payment_submission';\n                    try {\n                        const jsonStart = messageBody.indexOf('{');\n                        if (jsonStart !== -1) {\n                            const jsonData = messageBody.substring(jsonStart);\n                            paymentData = JSON.parse(jsonData);\n                            if (paymentData.customerPhone) {\n                                userPhone = paymentData.customerPhone;\n                            }\n                            userMessage = `Payment submitted for order ${paymentData.orderId}`;\n                        }\n                    } catch (error) {\n                        console.error('Error parsing payment notification:', error);\n                        userMessage = 'Error processing payment notification';\n                    }\n                }\n                else {\n                    userMessage = messageBody.trim().toLowerCase();\n                }\n            }\n        }\n        // Fallback case\n        else {\n            console.log('Fallback case triggered');\n            userPhone = body.contact?.phone || body.contact?.name || body.userPhone || body.phone || body.from || '60123456789';\n            userMessage = 'No message body detected';\n        }\n\n        // Normalize phone numbers\n        const normalizedPhone = normalizePhoneNumber(userPhone);\n        const whatsappPhone = formatPhoneForWhatsApp(userPhone);\n\n        console.log('Phone processing:', {\n            original: userPhone,\n            normalized: normalizedPhone,\n            whatsapp: whatsappPhone\n        });\n\n        const outputData = {\n            originalMessage: body,\n            userMessage,\n            userPhone: normalizedPhone,\n            originalPhone: whatsappPhone,\n            messageType,\n            mediaType,\n            mediaId,\n            mediaUrl,\n            mediaMimeType,\n            extractedOrderId: null,\n            extractedSkus: [],\n            timestamp: new Date().toISOString(),\n            sessionId: body.sessionId || `${normalizedPhone}_${Date.now()}`,\n            action: body.action || 'sendMessage',\n            isOrderNotification,\n            isPaymentSubmission,\n            isAdminVerification,\n            isDirectWhatsAppSend,\n            requiresMediaProcessing: mediaType !== 'text' && mediaType !== 'none'\n        };\n\n        // Add additional data objects if they exist\n        if (orderData) outputData.orderData = orderData;\n        if (paymentData) outputData.paymentData = paymentData;\n        if (adminData) outputData.adminData = adminData;\n        if (directWhatsAppData) outputData.directWhatsAppData = directWhatsAppData;\n\n        console.log('=== Final Output Data ===');\n        console.log(JSON.stringify(outputData, null, 2));\n        \n        item.json = outputData;\n        \n    } catch (error) {\n        console.error('=== ERROR in Message Preprocessing ===');\n        console.error('Error:', error.message);\n        console.error('Stack:', error.stack);\n        console.error('Input item:', JSON.stringify(item.json, null, 2));\n        \n        // Return error data to prevent workflow from stopping\n        item.json = {\n            error: error.message,\n            errorStack: error.stack,\n            originalMessage: item.json,\n            userMessage: 'Error processing message',\n            userPhone: '123456789',\n            originalPhone: '60123456789',\n            messageType: 'error',\n            mediaType: 'text',\n            timestamp: new Date().toISOString(),\n            sessionId: `error_${Date.now()}`,\n            requiresMediaProcessing: false\n        };\n    }\n}\n\nconsole.log('=== Processing Complete ===');\nreturn inputData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        128
      ],
      "id": "a5d30f2a-9127-406d-a79c-bd47d2fb2f38",
      "name": "Message Preprocessing"
    },
    {
      "parameters": {
        "url": "={{ $json.mediaUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        288
      ],
      "id": "642cb24b-ee4a-418a-81d9-7f3fcfb3fa01",
      "name": "Get Image"
    },
    {
      "parameters": {
        "url": "={{ $json.mediaUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -48
      ],
      "id": "ea4fd052-2ab5-4625-9bcf-5c0d390c8955",
      "name": "Get Audio"
    },
    {
      "parameters": {
        "jsCode": "// Unified Media Content Extractor - Handles all media types\nconst inputData = $input.all();\nconst preprocessData = $('Message Preprocessing').first().json; // Fixed: removed \"1\" and changed to .first()\n\n// Function to replace localhost URLs with production URL\nfunction replaceMediaUrl(url) {\n    if (url && url.includes('http://localhost:9000')) {\n        return url.replace('http://localhost:9000', 'https://bot.creatiqai.com');\n    }\n    return url;\n}\n\nfor (const item of inputData) {\n    const json = item.json;\n    let finalMessage = '';\n    let mediaContext = '';\n    \n    // Determine the source and extract the appropriate content\n    if (preprocessData.mediaType === 'text') {\n        // Direct text path - use the original message\n        finalMessage = preprocessData.userMessage;\n        mediaContext = '';\n    } else if (preprocessData.mediaType === 'audio') {\n        // Audio transcription - get from current item which comes from OpenAI5/OpenAI13\n        // The transcribed text is in the 'text' field\n        finalMessage = json.text || json.transcription || json.content || '';\n        mediaContext = '';\n        console.log('Audio transcription found:', finalMessage);\n    } else if (preprocessData.mediaType === 'image') {\n        // Image analysis - get from current item which comes from OpenAI3\n        const analysisContent = json.content || json.text || '';\n        \n        if (analysisContent.includes('I can see')) {\n            // Extract the search query part\n            const searchMatch = analysisContent.match(/The customer is looking for ([^.]+)/);\n            if (searchMatch) {\n                finalMessage = searchMatch[1].trim();\n            } else {\n                finalMessage = analysisContent;\n            }\n        } else {\n            finalMessage = analysisContent;\n        }\n        mediaContext = '';\n        console.log('Image analysis found:', finalMessage);\n    } else {\n        // Fallback for any other media type\n        finalMessage = json.text || json.content || preprocessData.userMessage || '';\n    }\n    \n    // Ensure we have a message\n    if (!finalMessage && preprocessData.userMessage) {\n        finalMessage = preprocessData.userMessage;\n    }\n    \n    // Replace media URLs in the entire preprocessData\n    const processedMediaUrl = replaceMediaUrl(preprocessData.mediaUrl);\n    \n    // Create consistent output structure for the next nodes\n    const output = {\n        userMessage: mediaContext + finalMessage,\n        originalMessage: preprocessData.originalMessage,\n        userPhone: preprocessData.userPhone,\n        originalPhone: preprocessData.originalPhone,\n        sessionId: preprocessData.sessionId,\n        mediaType: preprocessData.mediaType,\n        mediaUrl: processedMediaUrl,\n        mediaId: preprocessData.mediaId,\n        mediaMimeType: preprocessData.mediaMimeType,\n        mediaProcessed: true,\n        timestamp: new Date().toISOString(),\n        messageType: preprocessData.messageType,\n        extractedOrderId: preprocessData.extractedOrderId,\n        extractedSkus: preprocessData.extractedSkus,\n        isOrderNotification: preprocessData.isOrderNotification,\n        isPaymentSubmission: preprocessData.isPaymentSubmission,\n        isAdminVerification: preprocessData.isAdminVerification,\n        isDirectWhatsAppSend: preprocessData.isDirectWhatsAppSend,\n        requiresMediaProcessing: preprocessData.requiresMediaProcessing\n    };\n    \n    // Add specific data if it exists\n    if (preprocessData.orderData) output.orderData = preprocessData.orderData;\n    if (preprocessData.paymentData) output.paymentData = preprocessData.paymentData;\n    if (preprocessData.adminData) output.adminData = preprocessData.adminData;\n    if (preprocessData.directWhatsAppData) output.directWhatsAppData = preprocessData.directWhatsAppData;\n    \n    // Handle media object if present\n    if (json.media && json.media.url) {\n        output.media = {\n            ...json.media,\n            url: replaceMediaUrl(json.media.url)\n        };\n    }\n    \n    console.log('=== Unified Output for Next Node ===');\n    console.log('Media Type:', preprocessData.mediaType);\n    console.log('Input json:', JSON.stringify(json, null, 2));\n    console.log('Final userMessage:', output.userMessage);\n    console.log('Media URL:', output.mediaUrl);\n    console.log('Media Processed:', output.mediaProcessed);\n    \n    item.json = output;\n}\n\nreturn inputData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        128
      ],
      "id": "1cea41c0-1d28-4448-93fd-0003aac9ed8a",
      "name": "Media Content Extractor"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "You are an expert automotive parts identifier for Autolab Malaysia. Analyze the provided image and extract detailed information about the car part or accessory shown.\\n\\nYour task:\\n1. Identify the type of car part/accessory (e.g., OEM Casing Android, Air Vent, etc.)\\n2. Determine the car brand if visible (Audi, BMW, Toyota, etc.)\\n3. Identify the car model if possible (A4, X3, Camry, etc.)\\n4. Note any visible specifications or features\\n5. Assess the condition (new/used if discernible)\\n\\nProvide a natural language description that can be used for product search.\\n\\nFormat your response as:\\n\\\"I can see [description of the part]. This appears to be for [brand] [model]. The customer is looking for [simplified search query].\\\"\\n\\nIf you cannot identify specific details, describe what you can see and suggest a general search.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        672,
        288
      ],
      "id": "e573c3bf-05d0-4555-8fc1-029cde050f22",
      "name": "OpenAI12",
      "credentials": {
        "openAiApi": {
          "id": "5HLXljL3CNZANdI4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        656,
        -48
      ],
      "id": "105ed4a7-52b0-45ac-b355-baf80edce7f2",
      "name": "OpenAI13",
      "credentials": {
        "openAiApi": {
          "id": "5HLXljL3CNZANdI4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6c2ab415-e219-47d8-9137-0bca3667b226"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f77a6d1f-91a9-4453-b76b-b3d9b6eba370",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7c634ffb-b9e3-4c58-bf47-43f83c50bb60",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        80,
        128
      ],
      "id": "3d03ada4-181e-478e-b1c3-8a1faaaede8f",
      "name": "Switch3"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced Session Manager with existing message type support\nconst inputData = $input.all();\n\nfor (const item of inputData) {\n    const data = item.json;\n    \n    // Extract phone number - check multiple possible fields\n    let customerPhone = data.userPhone || data.customer_phone || data.originalPhone || data.phone;\n    \n    // Clean phone number if it exists\n    if (customerPhone) {\n        // Remove any non-digit characters for session ID\n        customerPhone = customerPhone.toString().replace(/\\D/g, '');\n        // Remove country code 60 if present for consistency\n        if (customerPhone.startsWith('60')) {\n            customerPhone = customerPhone.substring(2);\n        }\n        // Remove leading 0 if present\n        if (customerPhone.startsWith('0')) {\n            customerPhone = customerPhone.substring(1);\n        }\n    } else {\n        // Fallback if no phone found\n        customerPhone = 'unknown';\n        console.log('Warning: No phone number found in data:', JSON.stringify(data, null, 2));\n    }\n    \n    // Generate session ID (daily session per phone number)\n    const today = new Date().toISOString().split('T')[0];\n    const sessionId = `${customerPhone}_${today}`;\n    \n    // Enhanced session data with all existing features\n    const sessionData = {\n        session_id: sessionId,\n        customer_phone: customerPhone,\n        original_phone: data.originalPhone || data.userPhone,\n        message: data.userMessage || data.message,\n        timestamp: data.timestamp || new Date().toISOString(),\n        message_type: data.messageType,\n        media_type: data.mediaType,\n        media_url: data.mediaUrl,\n        media_processed: data.mediaProcessed,\n        \n        // Special message types from your preprocessing\n        is_order_notification: data.isOrderNotification,\n        is_payment_submission: data.isPaymentSubmission,\n        is_admin_verification: data.isAdminVerification,\n        is_direct_whatsapp_send: data.isDirectWhatsAppSend,\n        \n        // Additional data objects\n        order_data: data.orderData || null,\n        payment_data: data.paymentData || null,\n        admin_data: data.adminData || null,\n        direct_whatsapp_data: data.directWhatsAppData || null,\n        \n        // Original message for reference\n        original_message: data.originalMessage || data.original_message\n    };\n    \n    console.log('Session Manager Debug:');\n    console.log('Input userPhone:', data.userPhone);\n    console.log('Extracted customerPhone:', customerPhone);\n    console.log('Generated session_id:', sessionId);\n    \n    item.json = sessionData;\n}\n\nreturn inputData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        128
      ],
      "id": "e8ac46fc-9e0f-4d86-a9cd-959cbf948e60",
      "name": "Session Manager"
    },
    {
      "parameters": {
        "url": "=https://znxtabtksamgdsylagfo.supabase.co/rest/v1/conversations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "customer_phone",
              "value": "=eq.{{ $('Session Manager').item.json.customer_phone }}"
            },
            {
              "name": "select",
              "value": "conversation_text,message_timestamp,intent,tools_used"
            },
            {
              "name": "order",
              "value": "message_timestamp.desc"
            },
            {
              "name": "limit",
              "value": "10"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpueHRhYnRrc2FtZ2RzeWxhZ2ZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjYzNzAwMywiZXhwIjoyMDcyMjEzMDAzfQ.ZBXjLq1QU0Re-_gulJoYL_dgyoKMUkncVpZL7glPMRY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpueHRhYnRrc2FtZ2RzeWxhZ2ZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjYzNzAwMywiZXhwIjoyMDcyMjEzMDAzfQ.ZBXjLq1QU0Re-_gulJoYL_dgyoKMUkncVpZL7glPMRY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1792,
        128
      ],
      "id": "cd36cd95-dd04-4d70-93b6-454ee5ac4324",
      "name": "Get Conversation History",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Clean Parse Memory & Context - Final fix for user_id extraction\nconst sessionData = $('Session Manager').first().json;\nconst conversationHistoryArray = $('Get Conversation History').all();\nconst customerProfileArray = $('Get Customer Profile').all();\n\nconsole.log('=== Debug Customer Profile Extraction ===');\nconsole.log('Customer Profile Array:', JSON.stringify(customerProfileArray, null, 2));\n\n// Extract customer profile - handle the actual data structure\nlet customerProfile = null;\nif (customerProfileArray?.length > 0) {\n    const rawProfileData = customerProfileArray[0].json;\n    console.log('Raw Profile Data:', JSON.stringify(rawProfileData, null, 2));\n    \n    // The customer profile is directly in the json property\n    if (rawProfileData && rawProfileData.user_id) {\n        customerProfile = rawProfileData;\n        console.log('✅ Customer profile extracted successfully');\n        console.log('User ID found:', rawProfileData.user_id);\n    } else {\n        console.log('❌ No user_id found in profile data');\n    }\n}\n\n// Extract conversation history\nlet conversationHistory = [];\nlet customerContext = {};\nlet isNewConversation = true;\n\nif (conversationHistoryArray?.length > 0) {\n    const reversedConversations = conversationHistoryArray.reverse();\n    \n    conversationHistory = reversedConversations.map((item, index) => ({\n        text: item.json.conversation_text,\n        timestamp: item.json.created_at || item.json.message_timestamp,\n        intent: item.json.intent,\n        order: index + 1\n    }));\n    \n    isNewConversation = false;\n    \n    const recentIntents = conversationHistory.map(conv => conv.intent).filter(Boolean);\n    const userQueries = conversationHistory.map(conv => {\n        if (conv.text?.includes('|')) {\n            return conv.text.split('|')[0].replace('user:', '').trim();\n        }\n        return '';\n    }).filter(Boolean);\n    \n    customerContext = {\n        total_conversations: conversationHistoryArray.length,\n        recent_intents: [...new Set(recentIntents)],\n        last_interaction: conversationHistory[conversationHistory.length - 1]?.timestamp,\n        recent_queries: userQueries.slice(-3).join(', ')\n    };\n}\n\n// Build result - CRITICAL: Set customer_user_id correctly\nconst result = {\n    session_id: sessionData.session_id,\n    customer_phone: sessionData.customer_phone,\n    message: sessionData.message,\n    timestamp: sessionData.timestamp,\n    \n    // Customer profile information\n    customer_profile: customerProfile,\n    customer_name: customerProfile?.full_name || 'Customer',\n    customer_type: customerProfile?.customer_type || 'regular',\n    customer_user_id: customerProfile?.user_id || null, // This MUST match the field name in your data\n    has_user_profile: !!customerProfile,\n    \n    conversation_history: conversationHistory,\n    customer_context: customerContext,\n    is_new_conversation: isNewConversation,\n    \n    ...(sessionData.media_type !== 'text' && {\n        media_type: sessionData.media_type,\n        media_url: sessionData.media_url\n    }),\n    \n    ...(sessionData.is_order_notification && { is_order_notification: true }),\n    ...(sessionData.is_payment_submission && { is_payment_submission: true }),\n    ...(sessionData.is_admin_verification && { is_admin_verification: true }),\n    ...(sessionData.is_direct_whatsapp_send && { is_direct_whatsapp_send: true })\n};\n\nconsole.log('=== Final Result Debug ===');\nconsole.log('customer_user_id:', result.customer_user_id);\nconsole.log('customer_profile.user_id:', result.customer_profile?.user_id);\nconsole.log('Full result:', JSON.stringify(result, null, 2));\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        128
      ],
      "id": "5d8df29d-2f5d-4088-a739-9a47693447a1",
      "name": "Parse Memory & Context"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Current message: \"{{ $('Parse Memory & Context').first().json.message }}\"\n\n**CONVERSATION HISTORY:**\n{{ $('Parse Memory & Context').first().json.conversation_history.map(c => `${c.order}. ${c.text}`).join('\\n') }}\n\nCustomer Info:\nuser_id: {{ $('Parse Memory & Context').item.json.customer_profile.user_id }}\nfull_name: {{ $('Parse Memory & Context').item.json.customer_profile.full_name }}\ncustomer_type: {{ $('Parse Memory & Context').item.json.customer_profile.customer_type }}\n\nAlways response with the languages of Current message: {{ $('Parse Memory & Context').first().json.message }}\n\n",
        "options": {
          "systemMessage": "=# 🏎️ Autolab Master AI Customer Service Agent (Malaysia)\n\n## Role & Mission\n\nYou are **Autolab's AI Customer Service Agent** for Malaysia's premier car accessories and automotive parts store. You provide expert assistance with product searches, cart management, order inquiries, and general customer support. You're knowledgeable about automotive parts, accessories, and car models popular in Malaysia.\n\n**Website: {{ $json.WEBSITE_BASE_URL }}**\nIf User asked about website link or url, do reply user \"{{ $json.WEBSITE_BASE_URL }}\"\n\n## Core Personality & Communication Style\n\n- **Professional yet friendly** - Maintain expertise while being approachable\n- **Multilingual support** - Respond in the customer's language (English, Bahasa Malaysia, Chinese)\n- **Automotive expertise** - Demonstrate knowledge of car parts, brands, and compatibility\n- **Solution-oriented** - Focus on helping customers find exactly what they need\n- **Patient and thorough** - Take time to understand customer needs before recommending\n\n## CRITICAL WORKFLOW RULE: Always Search Before Cart Actions\n\n**MANDATORY SEQUENCE - NO EXCEPTIONS:**\n\nWhen customer wants to add items to cart:\n1. **FIRST**: Call `search_products` with relevant keywords\n2. **EXTRACT**: Get the exact `component_id` UUID from search results  \n3. **THEN**: Call `manage_cart` with the extracted `component_id`\n4. **CONFIRM**: Show clear success message with item details\n\n**NEVER use `manage_cart` for add operations without calling `search_products` first in the SAME conversation turn.**\n\n## Product Search Guidelines\n\n### Search Strategy\n- Use **broad keywords** first: car brand, model, part type\n- Examples: \"BMW X1\", \"Audi A3 casing\", \"Toyota air filter\"  \n- **Extract only relevant keywords** from customer messages\n- **DO NOT** include conversation context or extra words in searches\n\n### Search Results Handling - CRITICAL RULES\n\n**When customer asks for product search (NOT explicitly requesting to add to cart):**\n1. **Present search results clearly** with proper formatting and structure\n2. **Include product link** using the product_id from search results\n3. **DO NOT automatically add to cart** - only show products\n4. **Ask if customer wants to add items**: \"Would you like me to help add any of these to your cart?\"\n5. **For products with multiple components**: Explain component options clearly\n6. **Wait for explicit customer confirmation** before any cart operations\n\n**MANDATORY SEARCH RESULTS FORMAT WITH PRODUCT LINKS - FINAL OPTIMIZED VERSION:**\n\n**For Chinese Responses:**\n```\n我们找到了一些与您想要的\"[search term]\"相关的配件。以下是可用的组件和价格信息：\n\n🔍 **产品:** [Product Name] （{{ $json.WEBSITE_BASE_URL }}/product/[product_id]）\n\n📝 **可加入购物车:**\n- [Component 1] (SKU: [SKU]) - RM[Price]\n- [Component 2] (SKU: [SKU]) - RM[Price]\n\n您想要将哪个组件加入购物车？请告诉我您的选择！\n```\n\n**For English Responses:**\n```\n🔍 **SEARCH RESULTS**\n\n**Product:** [Product Name] ({{ $json.WEBSITE_BASE_URL }}/product/[product_id])\n\n📝 **Available Components:**\n- [Component 1] (SKU: [SKU]) - RM[Price]\n- [Component 2] (SKU: [SKU]) - RM[Price]\n\nWhich component would you like me to add to your cart? Please let me know your choice!\n```\n\n**For Bahasa Malaysia Responses:**\n```\n🔍 **HASIL CARIAN**\n\n**Produk:** [Product Name] ({{ $json.WEBSITE_BASE_URL }}/product/[product_id])\n\n📝 **Komponen Tersedia:**\n- [Component 1] (SKU: [SKU]) - RM[Price]\n- [Component 2] (SKU: [SKU]) - RM[Price]\n\nKomponen mana yang anda mahu saya tambah ke troli? Sila beritahu pilihan anda!\n```\n\n**CRITICAL: Product Link Construction Rules:**\n- Always extract the `product_id` field from search results\n- Construct link as: `{{ $json.WEBSITE_BASE_URL }}/product/[product_id]`\n- Include this link immediately after the product name in parentheses\n- Example: `Audi A3 2008-2012 9inch Black ({{ $json.WEBSITE_BASE_URL }}/product/550d227d-2a18-42b3-b690-a175d7675f5a)`\n\n## Message Delivery & Formatting Rules\n\n**CRITICAL: Use Message Splitting for Better Readability**\n\nTo ensure messages are delivered in digestible chunks and improve user experience:\n\n1. **Use `||` (double pipe) delimiter** to split longer messages into smaller, logical segments\n2. **Split messages at natural conversation breaks** - not within product listings or component details\n3. **Keep product search results together** in one message segment\n4. **Separate follow-up questions** or additional information into new segments\n\n**Message Splitting Examples:**\n\n**For Product Search Results:**\n```\n找到了！我们有一些很适合您Audi A3的配件：\n\n**Audi A3 2008-2012 9inch Black** ({{ $json.WEBSITE_BASE_URL }}/product/550d227d-2a18-42b3-b690-a175d7675f5a)\n- 这个很多客户都选择，质量很好的\n\n可选择的组件：\n• Audi A3 9 Inch Casing Only (SKU: AU-016N) - RM15  \n• Audi Socket Canbus Only (SKU: CB-701#/AU1020GB) - RM55\n\n||\n\n您看中哪一个？我帮您加进购物车，您说一声就可以了！\n\n想要了解更多关于安装或兼容性的信息吗？\n```\n\n**For Cart Operations:**\n```\n✅ 好的！已经成功加入购物车了：\n\n**已添加：Audi A3 9 Inch Casing Only**\n- 数量：2个\n- 单价：RM15\n- 总计：RM30\n\n||\n\n现在您的购物车有以下商品：\n\n🛒 **购物车详情**\n1. Audi A3 9 Inch Casing Only (AU-016N)\n   - 数量：2，总计：RM30\n\n**购物车摘要：**\n总商品数：2，总金额：RM30\n\n||\n\n还需要其他配件吗？或者准备结账？\n```\n\n**When to Split Messages:**\n- **After presenting search results** - split before asking customer preference\n- **After cart confirmations** - split before showing updated cart or asking next steps\n- **Between different topics** - split when changing from product info to installation advice\n- **Before asking questions** - split confirmations from follow-up questions\n\n**When NOT to Split:**\n- **Within product listings** - keep all components of one product together\n- **Within cart summaries** - keep all cart items in one message\n- **Within explanations** - don't break up technical explanations mid-sentence\n\n*********************************Remember：**************************************\n**- If user just asking for a brand, for example just looking for audi, then do not reply entire product list to the user, instead, do ask user what model of audi is he searching for, same for other brands and situation.** Always remember this!!! Get user's targetted car brand model first then only return list, do not return all items we got in the database.\n*********************************************************************************\n\n## Cart Management Tools - CRITICAL USAGE RULES\n\nYou now have 4 separate cart management tools. Use the correct tool for each operation:\n\n### Tool Selection Rules:\n\n**1. view_cart** - For viewing cart contents\n- Use when customer asks: \"What's in my cart?\", \"Show my cart\", \"Cart contents\"\n- No parameters needed - tool handles everything automatically\n- Always call this tool to check current cart status\n\n**2. add_to_cart** - For adding items to cart  \n- Use ONLY after search_products has been called and component_id obtained\n- Parameters needed:\n  - component_id: Exact UUID from search results (NEVER use component names)\n  - quantity: Number to add (must be positive integer)\n- MANDATORY: Always search first, then add\n\n**3. remove_from_cart** - For removing/reducing items\n- Use when customer wants to remove items or reduce quantities\n- Parameters needed:\n  - component_id: UUID of item to remove (get from cart or search)\n  - quantity: Number to remove (removes item completely if quantity >= current)\n- If removing \"some\" items, call view_cart first to see current quantities\n\n**4. clear_cart** - For emptying entire cart\n- Use when customer wants to \"clear cart\", \"empty cart\", \"remove everything\"\n- No parameters needed - empties entire cart\n\n### CRITICAL WORKFLOW EXAMPLES:\n\n**Viewing Cart:**\n```\nCustomer: \"What's in my cart?\" / \"购物车里有什么？\"\nAI Action: Call view_cart tool (no parameters needed)\nResponse: Format cart contents as detailed listing with totals\n```\n\n**Adding Items (Mandatory Search-First Workflow):**\n```\nCustomer: \"Add 2 BMW casings to cart\"\nAI Actions:\n1. Call search_products(\"BMW casing\")\n2. Present results to customer WITH PRODUCT LINKS\n3. After customer confirms which component\n4. Call add_to_cart with component_id from search + quantity=2\n5. Confirm success with item details\n```\n\n**Removing Items:**\n```\nCustomer: \"Remove 3 BMW casings\"\nAI Actions:\n1. Call view_cart to see current items\n2. Identify the item to remove from cart results\n3. CRITICAL: Use the \"component_id\" field (UUID), NOT \"component_sku\" \n4. Call remove_from_cart with component_id=\"actual-uuid\" + quantity=3\n5. Confirm removal and show remaining items\n```\n\n### CRITICAL: Component ID vs SKU Distinction\n\n**When removing items from cart:**\n- ALWAYS use the `\"component_id\"` field (UUID format like \"2b49b5-c9-c779-4ae9-8267-167065334242\")\n- NEVER use `\"component_sku\"` field (format like \"CB-701#/AU1020GB\") \n- NEVER use `\"component_name\"` field\n\n**Example from cart data:**\n```json\n{\n  \"id\": \"37a5a783-06f2-4e9d-9789-bc1af843bf9d\",\n  \"component_id\": \"2b49b5-c9-c779-4ae9-8267-167065334242\", ← USE THIS\n  \"component_name\": \"Audi Socket Canbus Only\",\n  \"component_sku\": \"CB-701#/AU1020GB\", ← NOT THIS\n  \"quantity\": 13\n}\n```\n\n**For remove_from_cart tool:**\n- component_id parameter = \"2b49b5-c9-c779-4ae9-8267-167065334242\"\n- quantity parameter = number to remove\n\n### Parameter Handling Rules:\n\n**For add_to_cart and remove_from_cart:**\n- component_id: MUST be exact UUID string from search_products results OR view_cart results\n- quantity: MUST be positive integer number\n- NEVER use component names, SKUs, or any other identifiers - only the component_id UUID works\n\n**For remove operations specifically:**\n1. Call view_cart first to get current cart contents\n2. Locate the item customer wants to remove\n3. Extract the `\"component_id\"` value (UUID format)\n4. Use that exact UUID in remove_from_cart tool\n5. Never use component_sku, component_name, or any other field\n\n**Clearing Cart:**\n```\nCustomer: \"Clear my cart\" / \"Empty everything\"\nAI Action: Call clear_cart tool\nResponse: Confirm cart has been emptied\n```\n\n### Response Formatting After Tool Calls:\n\n**After view_cart:**\n```\n现在您的购物车里有这些商品：\n\n🛒 **购物车详情**\n1. **Audi A3 9 Inch Casing Only** (AU-016N)\n   - 数量：2，单价：RM15，小计：RM30\n\n**购物车摘要：**\n总商品数：2，总金额：RM30\n\n||\n\n还需要其他配件吗？或者准备结账？\n```\n\n**After add_to_cart:**\n```\n✅ 好的！已经成功加入购物车了：\n\n**已添加：BMW X1 Casing Only**\n- 数量：2个\n- 单价：RM89\n- 总计：RM178\n\n||\n\n还要其他配件吗？或者查看完整购物车？\n```\n\n**After remove_from_cart:**\n```\n✅ 已成功移除商品：\n\n**已移除：BMW X1 Casing Only**  \n- 移除数量：3个\n- 购物车剩余：2个\n\n||\n\n还需要调整其他商品吗？\n```\n\n## Knowledge Base Integration\n\nUse `search_knowledge_base` for:\n- **Company policies**: warranty, returns, shipping\n- **General inquiries**: store locations, business hours, contact info\n- **Process questions**: how to order, payment methods, delivery options\n\nExample queries: \"warranty policy\", \"return process\", \"shipping to Kuala Lumpur\"\n\n## Response Templates by Language\n\n### English Responses\n- Cart viewing: \"Let me check your current cart...\"\n- Adding items: \"I'll search for that product first...\"\n- Success: \"✅ Successfully added [item] x[qty] to your cart\"\n- Error: \"I couldn't find that item. Let me search for alternatives...\"\n\n### Chinese Responses  \n- Cart viewing: \"让我查看您当前的购物车...\"\n- Adding items: \"我先搜索这个产品...\"\n- Success: \"✅ 已成功将 [商品] x[数量] 添加到购物车\"\n- Error: \"找不到该商品，让我搜索替代品...\"\n\n### Bahasa Malaysia Responses\n- Cart viewing: \"Saya akan semak troli anda...\"\n- Adding items: \"Saya akan cari produk ini dahulu...\"\n- Success: \"✅ Berjaya menambah [item] x[qty] ke dalam troli\"\n\n## Customer Service Best Practices\n\n### Product Recommendations\n- **Ask clarifying questions** about car make, model, year\n- **Suggest compatible alternatives** if exact match unavailable\n- **Explain differences** between products clearly\n- **Recommend complete sets** when appropriate (e.g., full installation kit)\n\n### Problem Resolution\n- **Acknowledge issues** promptly and empathetically\n- **Provide clear steps** for resolution\n- **Escalate to human support** when needed\n- **Follow up** to ensure satisfaction\n\n### Upselling & Cross-selling (Subtle)\n- **Suggest complementary items**: \"Customers also bought...\"\n- **Mention installation accessories**: \"Do you need installation tools?\"\n- **Highlight premium options**: \"We also have a premium version with...\"\n- **Bundle recommendations**: \"Save with our installation package\"\n\n## Error Handling & Edge Cases\n\n### When Search Returns No Results\n1. Acknowledge: \"I didn't find exact matches for '[query]'\"\n2. Suggest alternatives: \"Let me try broader search terms...\"\n3. Ask for clarification: \"Could you provide your car model year?\"\n4. Offer human assistance: \"Our specialists can help find this specific part\"\n\n### When Cart Operations Fail  \n1. Apologize clearly: \"I encountered an issue updating your cart\"\n2. Suggest alternatives: \"Let me try a different approach...\"\n3. Provide manual options: \"You can also add items through our website\"\n4. Escalate if persistent: \"Let me connect you with our technical support\"\n\n### When Customer Information is Unclear\n- **Ask specific questions**: \"Which car model do you have?\"\n- **Provide examples**: \"For example: Honda City 2020, Toyota Vios 2019\"\n- **Clarify requirements**: \"Do you need OEM or aftermarket parts?\"\n\n## Integration Guidelines\n\n- **Always maintain conversation context** - reference previous items discussed\n- **Use customer's preferred communication style** - formal vs casual\n- **Remember cart contents** throughout conversation\n- **Provide order summaries** before checkout recommendations\n- **Suggest related services**: installation, warranty extensions\n\n## Success Metrics Focus\n\n- **Accurate product matching** to customer needs\n- **Smooth cart management** experience  \n- **Clear, helpful communication** in customer's language\n- **Proactive problem-solving** approach\n- **Seamless handoff to human agents** when needed\n\nRemember: Your goal is to make car accessory shopping effortless and enjoyable for Malaysian customers while maintaining the highest standards of technical accuracy and customer service excellence."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        2496,
        128
      ],
      "id": "3bf15ec2-fb61-48a7-b500-89d6d290a297",
      "name": "Autolab Master AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2128,
        448
      ],
      "id": "5a662a2a-cb2f-48c4-abfc-37814fe8d3ff",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5HLXljL3CNZANdI4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search for car parts and accessories in Autolab's product catalog. Extract only the relevant product/car information from the customer's message and pass it as the search term. Examples: \"BMW\", \"audi a3 casing\", \"toyota camry air filter\". Do NOT include conversation history or extra text - only the product search keywords.",
        "method": "POST",
        "url": "={{ $('Environment Setup').first().json.SUPABASE_URL }}/rest/v1/rpc/ai_search_products_with_components",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Environment Setup').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Environment Setup').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "search_term",
              "value": "={{ $fromAI('parameters0_Value', 'Clean search keywords only - extract car brand, model, and product type from user message (e.g., \"audi a3\", \"bmw x1\"). Do NOT include conversation history or extra context.', 'string') }}"
            },
            {
              "name": "limit_count",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2304,
        448
      ],
      "id": "4f1fbaf9-97d6-4932-9b85-43724eaf83f0",
      "name": "search_products"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28c1ddcc-9090-4957-a193-f6b3df7466ee",
              "name": "SUPABASE_URL",
              "value": "https://znxtabtksamgdsylagfo.supabase.co",
              "type": "string"
            },
            {
              "id": "d82491af-3ecd-4abc-ae72-bd9be35ea37a",
              "name": "SUPABASE_SERVICE_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpueHRhYnRrc2FtZ2RzeWxhZ2ZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjYzNzAwMywiZXhwIjoyMDcyMjEzMDAzfQ.ZBXjLq1QU0Re-_gulJoYL_dgyoKMUkncVpZL7glPMRY",
              "type": "string"
            },
            {
              "id": "7aaf5624-14e2-42ac-8d6e-60159769be29",
              "name": "WEBSITE_BASE_URL",
              "value": "https://demoautolab.vercel.app",
              "type": "string"
            },
            {
              "id": "03b1298d-846f-470f-86f9-41514e064715",
              "name": "customer_user_id",
              "value": "={{ $json.customer_profile.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        128
      ],
      "id": "eeebf484-12e6-4842-a80d-b00db1f795c6",
      "name": "Environment Setup"
    },
    {
      "parameters": {
        "url": "https://znxtabtksamgdsylagfo.supabase.co/rest/v1/customer_profiles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=eq.{{ $('Session Manager').item.json.original_phone }}"
            },
            {
              "name": "select",
              "value": "user_id,full_name,email,customer_type,preferences,address,is_active"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpueHRhYnRrc2FtZ2RzeWxhZ2ZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjYzNzAwMywiZXhwIjoyMDcyMjEzMDAzfQ.ZBXjLq1QU0Re-_gulJoYL_dgyoKMUkncVpZL7glPMRY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpueHRhYnRrc2FtZ2RzeWxhZ2ZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjYzNzAwMywiZXhwIjoyMDcyMjEzMDAzfQ.ZBXjLq1QU0Re-_gulJoYL_dgyoKMUkncVpZL7glPMRY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        128
      ],
      "id": "59a57ace-b3b0-45c7-b922-573d72bdc218",
      "name": "Get Customer Profile"
    },
    {
      "parameters": {
        "jsCode": "// Response Processor for Single Table with Formatted Conversation\nconst agentResponse = $('Fine Tuning Agent').first().json;\nconst sessionData = $('Parse Memory & Context').first().json;\n\n// Extract response content\nlet responseContent = '';\nlet toolsUsed = [];\nlet confidence = 0.95;\n\nif (typeof agentResponse === 'string') {\n    responseContent = agentResponse;\n} else if (agentResponse.output) {\n    responseContent = agentResponse.output;\n} else if (agentResponse.content) {\n    responseContent = agentResponse.content;\n} else if (agentResponse.text) {\n    responseContent = agentResponse.text;\n} else {\n    responseContent = JSON.stringify(agentResponse);\n}\n\n// Extract tool usage from the ORIGINAL Autolab Master AI Agent response\nconst originalAgentResponse = $('Autolab Master AI Agent').first().json;\nif (originalAgentResponse.tool_calls && Array.isArray(originalAgentResponse.tool_calls)) {\n    toolsUsed = originalAgentResponse.tool_calls.map(call => call.function?.name || call.name);\n}\n\n// Determine intent\nlet detectedIntent = 'general_chat';\nif (responseContent.toLowerCase().includes('product') || responseContent.toLowerCase().includes('accessories')) {\n    detectedIntent = 'product_search';\n} else if (responseContent.toLowerCase().includes('order') || responseContent.toLowerCase().includes('tracking')) {\n    detectedIntent = 'order_status';\n} else if (responseContent.toLowerCase().includes('policy') || responseContent.toLowerCase().includes('warranty')) {\n    detectedIntent = 'knowledge_base';\n}\n\n// Clean the messages for formatting (remove quotes and escape characters)\nconst cleanUserMessage = sessionData.message.replace(/\"/g, \"'\").replace(/\\n/g, \" \").trim();\nconst cleanBotMessage = responseContent.replace(/\"/g, \"'\").replace(/\\n/g, \" \").trim();\n\n// Format conversation as single string\nconst formattedConversation = `user: ${cleanUserMessage} | assistant: ${cleanBotMessage}`;\n\n// Get Malaysia timezone timestamp\nconst malaysiaTime = new Date().toLocaleString(\"en-US\", {timeZone: \"Asia/Kuala_Lumpur\"});\nconst malaysiaTimestamp = new Date(malaysiaTime).toISOString();\n\n// Prepare data for single table insert\nconst conversationData = {\n    session_id: sessionData.session_id,\n    customer_phone: sessionData.customer_phone,\n    customer_profile_id: sessionData.customer_profile?.id || null,\n    conversation_text: formattedConversation,\n    intent: detectedIntent,\n    tools_used: toolsUsed.length > 0 ? toolsUsed : null,\n    confidence: confidence,\n    media_type: sessionData.media_type || 'text',\n    media_url: sessionData.media_url || null,\n    message_timestamp: malaysiaTimestamp\n};\n\nconsole.log('Formatted conversation:', formattedConversation);\nconsole.log('Malaysia timestamp:', malaysiaTimestamp);\n\nreturn [{\n    json: {\n        conversationData: conversationData,\n        responseContent: responseContent,\n        sessionId: sessionData.session_id,\n        customerPhone: sessionData.customer_phone\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        128
      ],
      "id": "cb5c7554-a428-4124-95c6-ff8b841c029f",
      "name": "Response Processor"
    },
    {
      "parameters": {
        "jsCode": "// Simple Response Message Extractor\nconst responseData = $('Response Processor').first().json;\n\n// Extract just the response content\nconst message = responseData.responseContent;\n\n// Return simple format for Final Response node\nreturn [{\n    json: {\n        output: message\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        128
      ],
      "id": "11182f91-e562-4b76-a432-28f19b664132",
      "name": "Final Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://znxtabtksamgdsylagfo.supabase.co/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpueHRhYnRrc2FtZ2RzeWxhZ2ZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjYzNzAwMywiZXhwIjoyMDcyMjEzMDAzfQ.ZBXjLq1QU0Re-_gulJoYL_dgyoKMUkncVpZL7glPMRY"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpueHRhYnRrc2FtZ2RzeWxhZ2ZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjYzNzAwMywiZXhwIjoyMDcyMjEzMDAzfQ.ZBXjLq1QU0Re-_gulJoYL_dgyoKMUkncVpZL7glPMRY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "session_id",
              "value": "={{ $json.conversationData.session_id }}"
            },
            {
              "name": "customer_phone",
              "value": "={{ $json.conversationData.customer_phone }}"
            },
            {
              "name": "conversation_text",
              "value": "={{ $json.conversationData.conversation_text }}"
            },
            {
              "name": "intent",
              "value": "={{ $json.conversationData.intent }}"
            },
            {
              "name": "tools_used",
              "value": "={{ $json.conversationData.tools_used }}"
            },
            {
              "name": "confidence",
              "value": "={{ $json.conversationData.confidence }}"
            },
            {
              "name": "media_type",
              "value": "={{ $json.conversationData.media_type }}"
            },
            {
              "name": "media_url",
              "value": "={{ $json.conversationData.media_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3632,
        128
      ],
      "id": "1577b818-0a52-4d07-aa50-da445ae8e1f4",
      "name": "Store Conversation",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "toolDescription": "Search Autolab's knowledge base for company information, policies, procedures, and general inquiries. Provide search_term parameter with what the customer is asking about (e.g., 'warranty policy', 'return process', 'shipping information'). Returns relevant knowledge base articles with content and relevance scores.",
        "method": "POST",
        "url": "={{ $('Environment Setup').first().json.SUPABASE_URL }}/rest/v1/rpc/ai_search_knowledge_base",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Environment Setup').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Environment Setup').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "search_term",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', `What the customer is asking about (e.g., warranty, return policy, shipping, address, etc.)`, 'string') }}"
            },
            {
              "name": "limit_count",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2464,
        448
      ],
      "id": "dcf68863-c3c0-4ffc-b9c8-445d85d1cc91",
      "name": "search_knowledge_base"
    },
    {
      "parameters": {
        "toolDescription": "Manage cart operations. AI must provide:\n- action: \"view_cart\" OR \"add_item\" OR \"remove_item\" OR \"update_quantity\" OR \"clear_cart\"  \n- component_id: For view_cart/clear_cart use \"NULL\", for others use actual UUID\n- quantity: Always provide a number (1 for view_cart, actual quantity for others)",
        "method": "POST",
        "url": "=https://znxtabtksamgdsylagfo.supabase.co/rest/v1/rpc/manage_cart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Environment Setup').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Environment Setup').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"view_cart\",\n  \"user_id\": \"{{ $('Parse Memory & Context').first().json.customer_user_id }}\",\n  \"component_id\": null,\n  \"quantity\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2624,
        448
      ],
      "id": "99293dd2-954e-41bc-93c0-a25ec2cbd6c6",
      "name": "view_cart"
    },
    {
      "parameters": {
        "toolDescription": "Manage cart operations. AI must provide:\n- action: \"view_cart\" OR \"add_item\" OR \"remove_item\" OR \"update_quantity\" OR \"clear_cart\"  \n- component_id: For view_cart/clear_cart use \"NULL\", for others use actual UUID\n- quantity: Always provide a number (1 for view_cart, actual quantity for others)",
        "method": "POST",
        "url": "=https://znxtabtksamgdsylagfo.supabase.co/rest/v1/rpc/manage_cart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Environment Setup').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Environment Setup').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"add_item\",\n  \"user_id\": \"{{ $('Parse Memory & Context').first().json.customer_user_id }}\",\n  \"component_id\": \"{{ $fromAI('component_id', 'Component UUID from search results', 'string') }}\",\n  \"quantity\": {{ $fromAI('quantity', 'Number of items to add', 'number') }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2784,
        448
      ],
      "id": "275ba350-5775-4fec-b246-b7e04f547d8b",
      "name": "add_to_cart"
    },
    {
      "parameters": {
        "toolDescription": "Manage cart operations. AI must provide:\n- action: \"view_cart\" OR \"add_item\" OR \"remove_item\" OR \"update_quantity\" OR \"clear_cart\"  \n- component_id: For view_cart/clear_cart use \"NULL\", for others use actual UUID\n- quantity: Always provide a number (1 for view_cart, actual quantity for others)",
        "method": "POST",
        "url": "=https://znxtabtksamgdsylagfo.supabase.co/rest/v1/rpc/manage_cart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Environment Setup').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Environment Setup').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"remove_item\",\n  \"user_id\": \"{{ $('Parse Memory & Context').first().json.customer_user_id }}\",\n  \"component_id\": \"{{ $fromAI('component_id', 'Component UUID to remove', 'string') }}\",\n  \"quantity\": {{ $fromAI('quantity', 'Number of items to remove', 'number') }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        2976,
        448
      ],
      "id": "ea90fb92-f6a3-416c-908c-4a1b34ca635a",
      "name": "remove_from_cart"
    },
    {
      "parameters": {
        "toolDescription": "Manage cart operations. AI must provide:\n- action: \"view_cart\" OR \"add_item\" OR \"remove_item\" OR \"update_quantity\" OR \"clear_cart\"  \n- component_id: For view_cart/clear_cart use \"NULL\", for others use actual UUID\n- quantity: Always provide a number (1 for view_cart, actual quantity for others)",
        "method": "POST",
        "url": "=https://znxtabtksamgdsylagfo.supabase.co/rest/v1/rpc/manage_cart",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Environment Setup').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Environment Setup').first().json.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"clear_cart\", \n  \"user_id\": \"{{ $('Parse Memory & Context').first().json.customer_user_id }}\",\n  \"component_id\": null,\n  \"quantity\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        3152,
        448
      ],
      "id": "5e960887-b663-4895-a911-36dcab5e3a56",
      "name": "clear_cart"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User current message: {{ $('Parse Memory & Context').item.json.message }}\nOriginal AI Response: \"{{ $('Autolab Master AI Agent').item.json.output }}\"\n\nPlease humanize this Original AI Response to sound more natural for Malaysian customers while maintaining the same information and intent. And make sure do not repeat same thing to the user according to the conversation track back, try to dont be annoying.\n\nWhile below are the conversation History in order, 1 is the oldest to 10 is the lastest message:\n**CONVERSATION HISTORY:**\n{{ $('Parse Memory & Context').first().json.conversation_history.map(c => `${c.order}. ${c.text}`).join('\\n') }}\n",
        "options": {
          "systemMessage": "=🇲🇾 Malaysian Response Humanizer & Fine Tuning Agent (Salesman Edition)\nYour Mission\n\n**Website: https://demoautolab.vercel.app**\nIf User asked about website link or url, do reply user \"https://demoautolab.vercel.app\nTransform AI-generated customer service responses into natural Malaysian shopkeeper style with friendly salesmanship touch. Preserve all product facts (names, SKUs, links, prices), but make it feel like a real kedai boss trying to close sales.\n\nCore Principles\n1. Language Fidelity\n\nMatch customer’s language exactly (中文 → 中文, English → English, BM → BM).\n\nFollow their code-switching naturally.\n\nNever add new technical info not given.\n\n2. Tone Transformation Rules\n\nFrom Corporate → To Salesman Chat:\n\n“I would be happy to assist you” → “Sure boss, I check for you ah”\n\n“Here are the products available” → “找到几个给你看 || 很多人买的”\n\n“Would you like to proceed?” → “要不要我帮你settle now ah? || 这个很快sold out的”\n\nMalaysian Shop Talk Add-ons:\n\nFriendly callouts: 老板, bro, sis, boss\n\nCasual: lah, lor, ah, 咯, 哦\n\nPersuasive cues:\n\n“现在promo中咯”\n\n“这个hot item，stock不多了”\n\n“配套一起买比较划算”\n\n3. Preserve These (Do Not Change)\n\n✅ Product names, SKUs, prices (RM), links, quantities\n✅ Emojis and || splits\n✅ All factual info\n\n4. What to Transform\n\n🔄 Add warmth, casual persuasion, urgency, and guiding questions:\n\nMake customer imagine missing out: “这个很快没stock的咯”\n\nAdd promos/upsell casually: “通常casing都是配socket一起买 || 要不要帮你加入购物车?”\n\n5. Persuasion & Sales Techniques\n\nScarcity & Urgency:\n\n“这个剩不多了哦 || 最近很多人买”\n\n“要的话最好现在settle || 不然stock走得快”\n\nSocial Proof:\n\n“这个很多City车主都换这个model咯”\n\n“评价蛮好的 || 大家用了都讲好”\n\nUpselling:\n\n“通常casing会配canbus || 这样装机比较稳”\n\n“要不要我帮你bundle起来 || 省时间又省心”\n\nPromotion Hook:\n\n“现在这个价钱很ok咯 || 过后可能会涨”\n\n“配套买会比较便宜 || 你要考虑下吗?”\n\nGuiding Questions (引导 user to talk more):\n\n“Boss confirm下是City 2020还是2022款？”\n\n“要找黑色frame还是银色的？”\n\n“平时多用原厂机还是upgrade Android player的？”\n\n6. Natural Malaysian Flow Examples\n\nWhen showing products:\n老板，找到几个给你 || 🔥 这个蛮多人拿的咯 ||\n价钱也合理 || stock不多，要快点哦 ||\n\nWhen confirming actions:\n✅ 好啦加了 || 总共 RM178 ||\n要直接结账还是继续找？\n\nWhen upselling:\n一般会配canbus一起买 || 装机比较顺 ||\nbundle起来比较划算 || 要不要我帮你bundle?\n\nWhen nudging decision:\n这个hot selling咯 || 最近卖到快没stock ||\n要的话我帮你reserve先？\n\n7. Punctuation & Splitting\n\nUse || for natural pauses\n\nKeep sentences short\n\nUse questions to engage, not statements only\n\nExclamation only when natural (“快点settle ah!”)\n\n8. Quality Checklist\n\n Language matches input\n\n Product details intact (names, SKUs, links, RM)\n\n Friendly, casual tone\n\n Persuasion added (scarcity, proof, promo, bundle)\n\n Guide customer with questions\n\n || preserved\n\n⚡ In short: Be the friendly kedai boss who knows product well, cares about customer, and always nudges them to buy now before stock finish.\n\n**If reply with any link, please reply the link in clean response, do not add on any symbols to it. make sure able to send in whatsapp. do not reply link like:  链接：[点这里看](https://demoautolab.vercel.app/product/05da86ed-0560-4ccb-b142-8af6680edc36) this format sent to whatsapp, cant see the real link, can only see the 点这里看, so do remember to keep the link clean and accessible.\n\n**If user just asking for a brand, for example just looking for audi, then do not reply entire product list to the user, instead, do ask user what model of audi is he searching for, same for other brands and situation.\n\n**If returning a list after confirming that what user want, the list should be in bullet listing with numbering, tidy.\n\n**Make sure every sentence should use || to split the messages. Remember, is every sentences, unless is returning a list of products listing, then no need to split, else should split every sentences by using this ||."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        3024,
        128
      ],
      "id": "01cf17e1-9454-4ef5-8c00-ae763eae0e42",
      "name": "Fine Tuning Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        3360,
        448
      ],
      "id": "1602b48f-a422-4e21-9c0e-d393ebdcc37f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "UynhEUmcHNhh9eLD",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -448,
        128
      ],
      "id": "c8360e0f-cd40-4649-b9a0-89efd3c9564f",
      "name": "When chat message received",
      "webhookId": "8f9f057d-aff4-4155-9c4c-25e546b894f3"
    }
  ],
  "pinData": {
    "When chat message received": [
      {
        "json": {
          "chatInput": "mini cooper 呢",
          "sessionId": "conv_1887_contact_2",
          "messageType": "text",
          "isMediaMessage": false,
          "message": {
            "content": "mini cooper 呢",
            "type": "text",
            "timestamp": "2025-10-30T15:48:04.275Z"
          },
          "contact": {
            "id": 2,
            "name": "MS",
            "phone": "60165230268",
            "email": ""
          },
          "conversation": {
            "id": 1887
          }
        }
      }
    ]
  },
  "connections": {
    "Message Preprocessing": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "OpenAI12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio": {
      "main": [
        [
          {
            "node": "OpenAI13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Media Content Extractor": {
      "main": [
        [
          {
            "node": "Session Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI12": {
      "main": [
        [
          {
            "node": "Media Content Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI13": {
      "main": [
        [
          {
            "node": "Media Content Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Get Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Media Content Extractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Session Manager": {
      "main": [
        [
          {
            "node": "Get Customer Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Conversation History": {
      "main": [
        [
          {
            "node": "Parse Memory & Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Memory & Context": {
      "main": [
        [
          {
            "node": "Environment Setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Autolab Master AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "search_products": {
      "ai_tool": [
        [
          {
            "node": "Autolab Master AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Environment Setup": {
      "main": [
        [
          {
            "node": "Autolab Master AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Profile": {
      "main": [
        [
          {
            "node": "Get Conversation History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autolab Master AI Agent": {
      "main": [
        [
          {
            "node": "Fine Tuning Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Processor": {
      "main": [
        [
          {
            "node": "Store Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Conversation": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "Autolab Master AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "view_cart": {
      "ai_tool": [
        [
          {
            "node": "Autolab Master AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "add_to_cart": {
      "ai_tool": [
        [
          {
            "node": "Autolab Master AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "remove_from_cart": {
      "ai_tool": [
        [
          {
            "node": "Autolab Master AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "clear_cart": {
      "ai_tool": [
        [
          {
            "node": "Autolab Master AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fine Tuning Agent": {
      "main": [
        [
          {
            "node": "Response Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Fine Tuning Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Message Preprocessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 180
  },
  "versionId": "0be807e0-fe48-48a4-8a9a-9821ec4594a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2634913f2f63564c82ce4655d9f40e1dc9c1a1fed88b38602578fc73f31e2a9f"
  },
  "id": "MRF5yJBXswpRHmGA",
  "tags": []
}